<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>供应商评价</title>
		<meta name="keywords" content="供应商评价">
		<meta name="description" content="供应商评价">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/plugins/select2/select2.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/plugins/bootstrap-editable/bootstrap-editable-select2.css" />
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">

	</head>

	<body class="pd15">

		<form class="form-horizontal m-t" id="signupForm">
			<div class="form-group">
				<label class="col-sm-2 control-label">供应商</label>
				<div class="col-sm-3">
					<select id="supplierSelect" class="js-example-basic-single form-control" ltype="select" ligeruiid="supplierSelect">
						<option value="">请选择</option>
						<option value="HN-GZJT-001">广州集团</option>
						<option value="HN-GZBJ-0011">广州宝玑集团</option>
						<option value="HB-BJZH-003">北京钟华集团</option>
						<option value="HB-BJZH-004">北京摇摇乐集团</option>
					</select>
				</div>
				<label class="col-sm-2 control-label">订单编号</label>
				<div class="col-sm-3">
					<input name="order_number" value="SF12349845" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">采购数量</label>
				<div class="col-sm-3">
					<input name="purchase_quantity" value="100" class="ui-textbox" type="text">
				</div>
				<label class="col-sm-2 control-label">收货数量</label>
				<div class="col-sm-3">
					<input name="receipt_quantity" value="100" class="ui-textbox" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">良品数</label>
				<div class="col-sm-3">
					<input name="AAmount" value="1000" class="ui-textbox" type="text">
				</div>
				<label class="col-sm-2 control-label">良品率</label>
				<div class="col-sm-3">
					<input name="yield_rate" value="98%" class="ui-textbox" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">不良品数</label>
				<div class="col-sm-3">
					<input name="CAmount" value="2" class="ui-textbox" type="text">
				</div>
				<label class="col-sm-2 control-label">退货率</label>
				<div class="col-sm-3">
					<input name="return_rate" value="2%" class="ui-textbox" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">价格水平</label>
				<div class="col-sm-3">
					<select name="price_level">
						<option value=" ">请选择</option>
						<option value="价格公平合理">价格公平合理</option>
						<option value="价格稍微偏高">价格稍微偏高</option>
						<option value="经常需求调价格">经常需求调价格</option>
					</select>
				</div>
				<label class="col-sm-2 control-label">交货期</label>
				<div class="col-sm-3">
					<select name="delivery_date">
						<option value=" ">请选择</option>
						<option value="即时供应">即时供应</option>
						<option value="延期">延期</option>
						<option value="误期">误期</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">信用度</label>
				<div class="col-sm-3">
					<select name="credit">
						<option value=" ">请选择</option>
						<option value="以诚待人">以诚待人</option>
						<option value="拖账">拖账</option>
						<option value="欠账">欠账</option>
					</select>
				</div>
				<label class="col-sm-2 control-label">配合度</label>
				<div class="col-sm-3">
					<select name="coordination_degree">
						<option value=" ">请选择</option>
						<option value="积极处理">积极处理</option>
						<option value="普通处理">普通处理</option>
						<option value="不处理">不处理</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">评价</label>
				<div class="col-sm-10" style="padding: 1px 15px;">
					<textarea name="desc" placeholder="请输入内容" class="layui-textarea" style="min-width:79.5%;min-height: 100px;height: auto;line-height: 20px;padding: 6px 10px;resize: vertical;border: 1px solid #e5e6e7;"></textarea>
				</div>
			</div>

			<div class="form-group text-right">
				<div class="col-sm-8 col-sm-offset-2">
					<button class="btn btn-primary" type="submit" onclick="submitForm();">提交</button>
					<button class="btn btn-primary" type="submit" onclick="cancelLayer();">取消</button>
				</div>
			</div>
		</form>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/plugins/validate/jquery.validate.min.js"></script>
		<script src="../../js/plugins/validate/messages_zh.min.js"></script>
		<script src="../../js/plugins/validate/jquery.metadata.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable-select2.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			$(function() {
				if($.getUrlParam('id')) {
					setData();
				} else {

				}
				initSelect();

				new formValidate({
					formEle: '#signupForm'
				});
				
				//选择供应商change事件
				$('#supplierSelect').select2().on('select2:select', function(event) {});
			});

			function initSelect() {
				$('input[name="country3"]').ligerComboBox({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text'
				});
				$('input[name="country4"]').ligerComboBox({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text',
					　　isMultiSelect: true　　 //是否支持多选
				});

				$('input[name="country2"]').ligerRadioList({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text'
				});
				$('input[name="country"]').ligerCheckBoxList({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text'
				});
			}

			function valid() {
				var form = liger.get("signupForm");
				alert(form.valid());
			}

			function getData() {
				var form = liger.get("signupForm");
				var data = form.getData();
				alert(JSON.stringify(data));
			}

			function setData() {
				$.ajax({
					url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/getUser',
					data: {
						id: $.getUrlParam('id')
					},
					success: function(res) {
						res = $.parseJSON(res);
						var form = new liger.get("signupForm");
						form.setData(res);
					}
				})
			}

			function submitForm() {
				var form = liger.get("signupForm");
				if(!form.valid()) {
					return;
				}
				var data = {};
				$("input,select,textarea").each(function() {
					var name = $(this).attr("name");
					if(name && name.indexOf('ligerui') == -1) {
						data[name] = this.value;
					}
				});
				data.id = $.getUrlParam('id');

				$.ajax({
					type: 'post',
					url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/setUser',
					data: data,
					success: function(res) {
						if(Number(res)) {
							parent.table.bootstrapTable('refresh');
							var index = parent.layer.getFrameIndex(window.name);
							parent.layer.close(index);
						}
					}
				})
				/*
				            parent.table.bootstrapTable('refresh');
				            var index = parent.layer.getFrameIndex(window.name);
				            parent.layer.close(index);*/
			}
		</script>
	</body>

</html>