<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>供应商评价</title>
		<meta name="keywords" content="供应商评价">
		<meta name="description" content="供应商评价">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/plugins/select2/select2.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/plugins/bootstrap-editable/bootstrap-editable-select2.css" />
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">

	</head>

	<body class="gray-bg pd15">
		<div class="panel panel-default ibox float-e-margins border-bottom margin-bottom">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4 mgt2">查询条件</div>
					<div class="col-sm-8 text-right">
						<a class="collapse-link">
							<i class="fa fa-chevron-down"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body d-serach ibox-content">
				<form id="form">
					<div class="row ">
						<label class="col-sm control-label">供应商</label>
						<div class="col-sm-2">
							<select id="supplierSelect" class="js-example-basic-single form-control" ltype="select" ligeruiid="supplierSelect">
								<option value="">所有</option>
								<option value="HN-GZJT-001">广州集团</option>
								<option value="HN-GZBJ-0011">广州宝玑集团</option>
								<option value="HB-BJZH-003">北京钟华集团</option>
								<option value="HB-BJZH-004">北京摇摇乐集团</option>
							</select>
						</div>
						<label class="col-sm control-label">订单编号</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="order_number" />
						</div>
						<label class="col-sm control-label">良品率</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="p_country" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel-body">
			<div class="row text-right">
				<button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;查询</button>
				<!--<button class="btn btn-info " type="button" onclick="add('添加','supplier_assess_list_edit.html')"><i class="fa fa-paste"></i>&nbsp;添加</button>-->
				<button class="btn btn-success " type="button"><i class="fa fa-download"></i>&nbsp;&nbsp;<span class="bold">导出</span></button>
			</div>
		</div>
		<div class="content-style0">
			<table id="exampleTableEvents"></table>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/content.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable-select2.full.min.js" type="text/javascript" charset="utf-8"></script>

		<script>
			var pageSize; //总页数
			var pageIndex; //当前第几页
			var table = $("#exampleTableEvents");
			$(function() {
				$("#form").ligerForm({
					inputWidth: '',
					validate: true
				});

				//选择供应商change事件
				$('#supplierSelect').select2().on('select2:select', function(event) {});

				table.bootstrapTable({
					//url: USER_INFO.SITE_URL+'/tp5/public/index.php/Admin/Admin/noteListDemo', //服务端需要返回rows与total字段
					pagination: true, //分页
					pageSize: 5, //每页多少条
					data: [{
							order_number: 'SF12349845',
							supplier: '北京大众集团',
							purchase_quantity: 100,
							receive_quantity: 100,
							AAmount: 98,
							yield_rate: '98%',
							CAmount: 2,
							return_rate: '2%',
							price_level: '价格公平合理',
							delivery_date: '即时供应',
							credit: '以诚待人',
							coordination_degree: '积极处理',
							score: '4.9',
							evaluation: ''
						},
						{
							supplier: '北京华迪集团',
							order_number: 'SF1256342',
							purchase_quantity: 100,
							receive_quantity: 100,
							AAmount: 98,
							yield_rate: '98%',
							CAmount: 2,
							return_rate: '2%',
							price_level: '价格公平合理',
							delivery_date: '即时供应',
							credit: '以诚待人',
							coordination_degree: '普通处理',
							score: '4.9',
							evaluation: ''
						},
						{
							supplier: '上海美梦集团',
							order_number: 'FC4823214',
							purchase_quantity: 100,
							receive_quantity: 50,
							AAmount: 40,
							yield_rate: '40%',
							CAmount: 10,
							return_rate: '10%',
							price_level: '价格公平合理',
							delivery_date: '延期',
							credit: '拖账',
							coordination_degree: '不处理',
							score: '4.0',
							evaluation: ''
						},
						{
							supplier: '北京钟华集团',
							order_number: 'WW8425486',
							purchase_quantity: 100,
							receive_quantity: 100,
							AAmount: 98,
							yield_rate: '98%',
							CAmount: 2,
							return_rate: '2%',
							price_level: '价格公平合理',
							delivery_date: '即时供应',
							credit: '以诚待人',
							coordination_degree: '积极处理',
							score: '4.9',
							evaluation: ''
						},
						{
							supplier: '北京华迪集团',
							order_number: 'SF12349845',
							purchase_quantity: 100,
							receive_quantity: 100,
							AAmount: 98,
							yield_rate: '98%',
							CAmount: 2,
							return_rate: '2%',
							price_level: '价格公平合理',
							delivery_date: '即时供应',
							credit: '以诚待人',
							coordination_degree: '积极处理',
							score: '4.9',
							evaluation: ''
						}
					],
					// pageSize: 5, //每页多少条
					// method:'post',
					// sidePagination: "server", //服务端处理分页
					columns: [{
							align: 'center',
							checkbox: true
						},
						{
							title: '供应商',
							field: 'supplier',
							formatter: function(value, row, index) {
								var a = '<a onclick="edit(\'编辑\',\'supplier_info_list_edit.html\',' + row.id + ')">' + row.supplier + ' </a> ';
								return a;
							}
						},
						{
							title: '订单编号',
							field: 'order_number',
							formatter: function(value, row, index) {
								var a = '<a onclick="edit(\'详情\',\'../../template/common/order_list_see.html\',' + row.id + ')">' + row.order_number + ' </a> ';
								return a;
							}
						}, {

							title: '采购数量',
							field: 'purchase_quantity'
						}, {

							title: '收货数量',
							field: 'receive_quantity'
						}, {

							title: '良品数',
							field: 'AAmount'
						},
						{
							title: '良品率',
							field: 'yield_rate'
						}, {

							title: '不良品数',
							field: 'CAmount'
						},
						{
							title: '退货率',
							field: 'return_rate'
						},
						{
							title: '价格水平',
							field: 'price_level'
						},
						{
							title: '交货期',
							field: 'delivery_date'
						},
						{
							title: '信用度',
							field: 'credit'
						},
						{
							title: '配合度',
							field: 'coordination_degree'
						},
						{
							title: '评分',
							field: 'score'
						},
						{
							title: '评价',
							field: 'evaluation'
						},
						{
							title: '操作',
							width: '200',
							formatter: function(value, row, index) {
								var str = '';
								str += '<a class="btn btn-xs btn-info" onclick="edit(\'编辑\',\'supplier_assess_list_edit.html\',' + row.id + ')">编辑 </a> ';
								return str;
							}
						}
					]
					/*,
					            queryParams: function(params) {
					                var form = liger.get("form");
					                var data = form.getData();
					                var temp = {
					                    pageSize: params.limit,                         //页面大小
					                    pageIndex: (params.offset / params.limit) + 1,   //页码
					                    sort: params.sort,      //排序列名
					                    sortOrder: params.order //排位命令（desc，asc）
					                };
					                mergeObj(temp,data); //合并对象
					                pageSize = temp.pageSize;
					                pageIndex = temp.pageIndex;
					                return temp;
					            }*/
				});
			});

			function serach() {
				table.bootstrapTable('refresh');
			}

			function add(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['80%', '80%'],
					content: url
				});
			}

			function edit(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['80%', '80%'],
					content: url + '?id=' + id
				});
			}

			function del(id) {
				//询问框
				layer.confirm('是否需要删除？', {
					btn: ['确定', '取消'], //按钮
					shade: false //不显示遮罩
				}, function(index) {
					$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/dels',
						data: {
							id: id
						},
						success: function(res) {
							table.bootstrapTable('refresh');
							layer.close(index);
						}
					})
				}, function() {});
			}
		</script>

	</body>

</html>