<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>退货管理</title>
		<meta name="keywords" content="退货管理">
		<meta name="description" content="退货管理">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/plugins/select2/select2.min.css" />
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">
		<link href="../../css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

		<style type="text/css">
			.btn-xs {
				margin-bottom: 3px;
			}
		</style>
	</head>

	<body class="gray-bg pd15">
		<div class="panel panel-default ibox float-e-margins border-bottom margin-bottom">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4 mgt2">查询条件</div>
					<div class="col-sm-8 text-right">
						<a class="collapse-link">
							<i class="fa fa-chevron-down"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body d-serach ibox-content">
				<form id="form">
					<div class="row form-group">
						<label class="col-sm control-label">退厂单号</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="return_number" />
						</div>
						<label class="col-sm control-label">送货单位</label>
						<div class="col-sm-2">
							<select id="supplierSelect" class="js-example-basic-single form-control" ltype="select" ligeruiid="supplierSelect">
								<option value=" ">所有</option>
								<option value="HN-GZJT-001">广州集团</option>
								<option value="HN-GZBJ-0011">广州宝玑集团</option>
								<option value="HB-BJZH-003">北京钟华集团</option>
								<option value="HB-BJZH-004">北京摇摇乐集团</option>
							</select>
						</div>
						<label class="col-sm control-label">商品代码/名称</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="product" />
						</div>
					</div>
					<div class="row">
						<label class="col-sm control-label">退货类型</label>
						<div class="col-sm-2">
							<select name="return_type" id="returnTypeSelect">
								<option value=" ">所有</option>
								<option value="不良品">不良品</option>
								<option value="采购进货">采购进货</option>
							</select>
						</div>
						<label class="col-sm control-label">预退货日</label>
						<div class="col-sm-2">
							<input name="prereturn_date_start" id="prereturn_date_start" class="form-control layer-date date-width" placeholder="开始日期" autocomplete="off" value="">
							<input name="prereturn_date_end" id="prereturn_date_end" class="form-control layer-date date-width" placeholder="结束日期" autocomplete="off" value="">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel-body">
			<div class="row text-right">
				<button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;查询</button>
				<button class="btn btn-info " type="button" onclick="add('添加','factory_management_list_edit.html')"><i class="fa fa-paste"></i>&nbsp;添加</button>
				<button class="btn btn-success " type="button"><i class="fa fa-download"></i>&nbsp;&nbsp;<span class="bold">导出</span></button>
			</div>
		</div>
		<div class="content-style0">
			<table id="exampleTableEvents"></table>
		</div>
		<!--显示图片层-->
		<div id="blueimp-gallery" class="blueimp-gallery">
			<div class="slides"></div>
			<h3 class="title"></h3>
			<a class="close">×</a>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable-select2.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/plugins/layer/laydate/laydate.js"></script>
		<script src="../../js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
		<script>
			$("#form").ligerForm({
				inputWidth: '',
				validate: true
			});
			$(function() {
				var prereturnDateStart = {
					elem: "#prereturn_date_start",
					format: "YYYY/MM/DD",
					min: '1900-01-01', //最小日期
					max: "2099-06-16",
					istime: true,
					istoday: false,
					choose: function(datas) {
						prereturnDateEnd.min = datas;
					}
				};
				var prereturnDateEnd = {
					elem: "#prereturn_date_end",
					format: "YYYY/MM/DD",
					min: '1900-01-01', //最小日期
					max: "2099-06-16 23:59 ",
					istime: true,
					istoday: false,
					choose: function(datas) {}
				};
				laydate(prereturnDateStart);
				laydate(prereturnDateEnd);

				initTable();

				//选择供应商change事件
				$('#supplierSelect').select2().on('select2:select', function(event) {});
			})

			var pageSize; //总页数
			var pageIndex; //当前第几页
			var table = $("#exampleTableEvents");

			function initTable() {
				table.bootstrapTable({
					//url: USER_INFO.SITE_URL+'/tp5/public/index.php/Admin/Admin/noteListDemo', //服务端需要返回rows与total字段
					pagination: true, //分页
					pageSize: 5, //每页多少条
					// method:'post',
					// sidePagination: "server", //服务端处理分页
					columns: [{
						align: 'center',
						checkbox: true
					}, {
						title: '编号',
						field: 'id',
						visible: false
					}, {
						title: '退厂单号',
						field: 'return_number'
					}, {
						title: '供应商',
						field: 'supplier',
						formatter: function(value, row, index) {
							var a = '<a onclick="edit(\'详情\',\'../../template/supplier_manage/supplier_info_list_edit.html\',' + row.id + ')">' + row.supplier + ' </a> ';
							return a;
						}
					}, {
						field: 'move_into_warehouse',
						title: '仓库'
					}, {
						title: '退货类型',
						field: 'return_type',
						formatter: function(value, row, index) {
							var returnType = '';
							switch(value) {
								case '不良品':
									returnType = '不良品';
									break;
								case '采购进货':
									returnType = '采购进货';
									break;
							}
							return returnType;
						}
					}, {
						title: '预退货日',
						field: 'prereturn_date'
					}, {
						title: '操作员',
						field: 'salesman'
					}, {
						title: '状态',
						field: 'state'
					}, {
						title: '备注',
						field: 'remark'
					}, {
						title: '操作',
						width: '200',
						formatter: function(value, row, index) {
							var str = '';
							if(row.state == '待审核') {
								str += '<a class="btn btn-xs btn-info" onclick="edit(\'编辑\',\'factory_management_list_edit.html\',\'' + row.return_number + '\')">编辑 </a> ';
								str += '<a class="btn btn-xs btn-success" onclick="audit(\'审核\',\'factory_management_list_edit.html\',\'' + row.return_number + '\',\'AUDIT\')">审核 </a> ';
							}
							str += '<a class="btn btn-xs btn-success" onclick="printReturnForm(\'发货信息录入(商品扫描)\',\'scan_products_list.html\',\'' + row.return_number + '\')">发货信息录入(商品扫描)</a>  ';
							str += '<a class="btn btn-xs btn-primary" onclick="printReturnForm(\'商品退厂单\',\'print_return_form.html\',\'' + row.return_number + '\')">打印单据</a>  ';
							if(row.state == '待审核') {
								str += '<a class="btn btn-warning btn-xs" onclick="del(\'' + row.return_number + '\)">删除 </a> ';
							}
							return str;
						}
					}],
					/*
					            queryParams: function(params) {
					                var form = liger.get("form");
					                var data = form.getData();
					                var temp = {
					                    pageSize: params.limit,                         //页面大小
					                    pageIndex: (params.offset / params.limit) + 1,   //页码
					                    sort: params.sort,      //排序列名
					                    sortOrder: params.order //排位命令（desc，asc）
					                };
					                mergeObj(temp,data); //合并对象
					                pageSize = temp.pageSize;
					                pageIndex = temp.pageIndex;
					                return temp;
					            }*/
					data: [{
						id: 1,
						return_number: 'J2018000503',
						supplier: '广州集团',
						move_into_warehouse: '世港总仓',
						salesman: '晓晓',
						return_type: '不良品',
						prereturn_date: '2018-4-20',
						remark: '',
						state: '待审核'
					}, {
						id: 2,
						return_number: 'J2018000403',
						supplier: '广州几何集团',
						move_into_warehouse: '世港总仓',
						salesman: '季童薇',
						return_type: '不良品',
						prereturn_date: '2018-4-2',
						remark: '',
						state: '待审核'
					}, {
						id: 3,
						return_number: 'J2018000303',
						supplier: '广州翔安集团',
						move_into_warehouse: '顺德总仓',
						salesman: '晓晓',
						return_type: '不良品',
						prereturn_date: '2018-4-27',
						remark: '',
						state: '待审核'
					}],
					detailView: true,
					onExpandRow: function(index, row, $detail) {
						var childTable = $detail.html('<table id="childTable' + index + '"></table>').find('table'); //创建子表
						$(childTable).bootstrapTable({
							columns: [{
									field: 'code',
									title: '商品代码/物料型号',
								}, {
									field: 'name',
									title: '商品名称/物料名称'
								}, {
									field: 'unit',
									title: '单位'
								}, {
									field: 'size',
									title: '尺码'
								}, {
									field: 'color',
									title: '颜色'
								}, {
									field: 'image',
									title: '图片',
									formatter: function(value, row, index) {
										var str = '';
										str += '<a href="../../img/' + value + '.jpg" title="图片" data-gallery="" class="gallery-img"><img src="../../img/' + value + '.jpg"></a>';
										return str;
									}
								},
								//							{
								//								field: 'purchase_price',
								//								title: '单价'
								//							}, 
								{
									field: 'return_price',
									title: '退货价格',
									class: 'highlighted'
								}, {
									field: 'purchase_quantity',
									title: '购买数量'
								}, {
									field: 'stock_quantity',
									title: '剩余库存数量'
								}, {
									field: 'return_quantity',
									title: '退货数量',
									class: 'highlighted'
								},
								//							{
								//								field: 'amount',
								//								title: '金额',
								//								formatter: function(value, row, index) {
								//									return row.purchase_price * row.purchase_quantity;
								//								}
								//							}, 
								{
									field: 'move_into_location',
									title: '仓位'
								}, {
									field: 'remark',
									title: '备注'
								}
							],
							data: [{
								code: '0 160M60LYXCL',
								name: '表针',
								unit: '件',
								size: '通码',
								color: '通色',
								image: 'watch1',
								purchase_price: 8,
								return_price: 7.5,
								purchase_quantity: 500,
								stock_quantity: 400,
								return_quantity: 400,
								move_into_location: '普通仓位',
								remark: ''
							}, {
								code: '1 02B38068M QQF-01',
								name: '表盘',
								unit: '件',
								size: '通码',
								color: '通色',
								image: 'watch1',
								purchase_price: 5,
								return_price: 4,
								purchase_quantity: 400,
								stock_quantity: 300,
								return_quantity: 300,
								move_into_location: '普通仓位',
								remark: ''
							}]
						});
						mergeCell("#childTable" + index);
						$("td.highlighted").css("color", "red");
					},
					onDblClickRow: function(row, $element, field) { //row点击行的
						table.bootstrapTable('collapseAllRows');
						table.bootstrapTable('expandRow', (row.id - 1));
					},
					onClickRow: function(row, $element, field) { //row点击行的
						table.bootstrapTable('collapseRow', (row.id - 1));
					},
				});

			}

			function serach() {
				table.bootstrapTable('refresh');
			}

			function add(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url
				});
			}

			function edit(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url + '?id=' + id
				});
			}

			function del(id) {
				//询问框
				layer.confirm('是否需要删除？', {
					btn: ['确定', '取消'], //按钮
					shade: false //不显示遮罩
				}, function(index) {
					$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/dels',
						data: {
							id: id
						},
						success: function(res) {
							table.bootstrapTable('refresh');
							layer.close(index);
						}
					})
				}, function() {});
			}

			function audit(title, url, id, state, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url + '?id=' + id + '&state=' + state
				});
			}

			function printReturnForm(title, url, id, state, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url + '?id=' + id + '&title=' + title
				});
			}

			//子表格动态合并单元格
			function mergeCell(obj) {
				var data = $(obj).bootstrapTable('getData', true);
				//合并单元格
				mergeCells(data, "order_number", null, obj);
			}
		</script>

	</body>

</html>