<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>订单跟踪</title>
		<meta name="keywords" content="订单跟踪">
		<meta name="description" content="订单跟踪">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/plugins/select2/select2.min.css" />
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">
		<link href="../../css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

	</head>

	<body class="gray-bg pd15">
		<div class="panel panel-default ibox float-e-margins border-bottom margin-bottom">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4 mgt2">查询条件</div>
					<div class="col-sm-8 text-right">
						<a class="collapse-link">
							<i class="fa fa-chevron-down"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body d-serach ibox-content">
				<form id="form">
					<div class="row form-group">
						<label class="col-sm control-label">订单编号</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="orderNumber" />
						</div>
						<label class="col-sm control-label">供应商</label>
						<div class="col-sm-2">
							<select id="supplierSelect" class="js-example-basic-single form-control" ltype="select" ligeruiid="supplierSelect">
								<option value=" ">所有</option>
								<option value="HN-GZJT-001">广州集团</option>
								<option value="HN-GZBJ-0011">广州宝玑集团</option>
								<option value="HB-BJZH-003">北京钟华集团</option>
								<option value="HB-BJZH-004">北京摇摇乐集团</option>
							</select>
						</div>
						<!--搜索结果需要显示该商品型号相关联订单编号和供应商数据-->
						<label class="col-sm control-label">商品型号</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="product_code" />
						</div>
					</div>
					<div class="row">
						<label class="col-sm control-label">订单状态</label>
						<div class="col-sm-2">
							<select name="orderState">
								<option value=" ">所有</option>
								<option value="未完成">未完成</option>
								<option value="已超期">已超期</option>
								<option value="已完成">已完成</option>
							</select>
						</div>
						<label class="col-sm control-label">下单日期</label>
						<div class="col-sm-2">
							<input name="orderDateStart" id="orderDateStart" class="form-control layer-date date-width" placeholder="开始日期" autocomplete="off" value="">
							<input name="orderDateEnd" id="orderDateEnd" class="form-control layer-date date-width" placeholder="结束日期" value="">
						</div>
						<label class="col-sm control-label">到货日期</label>
						<div class="col-sm-2">
							<input name="arrivalDateStart" id="arrivalDateStart" class="form-control layer-date date-width" placeholder="开始日期" autocomplete="off" value="">
							<input name="arrivalDateEnd" id="arrivalDateEnd" class="form-control layer-date date-width" placeholder="结束日期" autocomplete="off" value="">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel-body">
			<div class="row text-right">
				<button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;查询</button>
				<button class="btn btn-success " type="button"><i class="fa fa-download"></i>&nbsp;&nbsp;<span class="bold">导出</span></button>
			</div>
		</div>
		<div class="content-style0">
			<table id="indentTraceTable"></table>
		</div>
		<div id="blueimp-gallery" class="blueimp-gallery">
			<div class="slides"></div>
			<h3 class="title"></h3>
			<a class="close">×</a>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/js.js"></script>
		<!--<script src="../../js/content.min.js"></script>-->
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable.js "></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-table-editable.js "></script>
		<script src="../../js/plugins/select2/select2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/plugins/layer/laydate/laydate.js "></script>
		<script>
			$(document).ready(function() {
				$("#form").ligerForm({
					inputWidth: '',
					validate: true
				});
				var orderDateStart = {
					elem: "#orderDateStart",
					format: "YYYY/MM/DD ",
					min: '1900-01-01', //最小日期
					max: "2099-06-16 ",
					istime: true,
					istoday: false,
					choose: function(datas) {
						orderDateEnd.min = datas;
					}
				};
				var orderDateEnd = {
					elem: "#orderDateEnd",
					format: "YYYY/MM/DD",
					min: $("#orderDateStart").val(), //最小日期
					max: "2099-06-16",
					istime: true,
					istoday: false,
					choose: function(datas) {}
				};

				var arrivalDateStart = {
					elem: "#arrivalDateStart",
					format: "YYYY/MM/DD",
					min: '1900-01-01', //最小日期
					max: "2099-06-16",
					istime: true,
					istoday: false,
					choose: function(datas) {
						arrivalDateEnd.min = datas;
					}
				};
				var arrivalDateEnd = {
					elem: "#arrivalDateEnd",
					format: "YYYY/MM/DD",
					min: '1900-01-01', //最小日期
					max: "2099-06-16 23:59 ",
					istime: true,
					istoday: false,
					choose: function(datas) {}
				};
				laydate(orderDateStart);
				laydate(orderDateEnd);
				laydate(arrivalDateStart);
				laydate(arrivalDateEnd);
				initTable();

				$('#supplierSelect').select2({}).on('select2:select', function(event) {});
			})

			var pageSize; //总页数
			var pageIndex; //当前第几页
			var table = $("#indentTraceTable");

			function initTable() {
				table.bootstrapTable({
					//url: USER_INFO.SITE_URL+'/tp5/public/index.php/Admin/Admin/noteListDemo', //服务端需要返回rows与total字段
					pagination: true, //分页
					pageSize: 5, //每页多少条
					// method:'post',
					// sidePagination: "server", //服务端处理分页				
					columns: [{
						align: 'center',
						checkbox: true
					}, {
						title: '编号',
						field: 'id',
						visible: false
					}, {
						title: '订单编号',
						field: 'orderNumber',
						formatter: function(value, row, index) {
							var a = '<a onclick="see(\'详情\',\'../../template/common/order_list_see.html\',' + row.id + ')">' + row.orderNumber + ' </a> ';
							return a;
						}
					}, {
						title: '供应商',
						field: 'supplier',
						formatter: function(value, row, index) {
							var a = '<a onclick="edit(\'详情\',\'../../template/supplier_manage/supplier_info_list_edit.html\',' + row.id + ')">' + row.supplier + ' </a> ';
							return a;
						}
					}, {
						title: '订单分批',
						field: 'orderBatch'
					}, {
						title: '下单日期',
						field: 'orderDate'
					}, {
						title: '订单首批到货日期',
						field: 'firstArrivalDate'
					}, {
						title: '下次预送货日期',
						field: 'pre_delivery_date'
					}, {
						title: '下单天数',
						field: 'orderDays'
					}, {
						title: '订单总额',
						field: 'totalCost'
					}, {
						title: '已付款总额',
						field: 'paymentMoney'
					}, {
						title: '订单状态',
						field: 'orderState'
					}, {
						title: '备注',
						field: 'remark'
					}],
					data: [{
						id: 1,
						orderNumber: 'JA3001728',
						supplier: '深圳',
						name: 'DD152C-01',
						model: '160M60LYXCL-02L1-12',
						stockQuantity: 10,
						orderDate: '2017-10-13',
						orderBatch: 3,
						stockQuantity: 60,
						firstArrivalDate: '2017-11-13',
						pre_delivery_date: '2018-1-10',
						orderDays: 50,
						totalCost: '100000.00',
						paymentMoney: '30000.00',
						orderState: '已超期',
						remark: ''
					}, {
						id: 2,
						orderNumber: 'JA3001728',
						supplier: '广州',
						name: 'DD152C-01',
						model: '160M60LYXCL-02L1-12',
						stockQuantity: 10,
						orderDate: '2017-10-13',
						orderBatch: 3,
						stockQuantity: 60,
						firstArrivalDate: '2017-11-13',
						pre_delivery_date: '2018-2-10',
						orderDays: 50,
						totalCost: '100000.00',
						paymentMoney: '30000.00',
						orderState: '未完成',
						remark: ''
					}, {
						id: 3,
						orderNumber: 'JA3001728',
						supplier: '珠海',
						name: 'DD152C-01',
						model: '160M60LYXCL-02L1-12',
						stockQuantity: 10,
						orderDate: '2017-10-13',
						orderBatch: 3,
						stockQuantity: 80,
						firstArrivalDate: '2017-11-13',
						pre_delivery_date: '2018-3-10',
						orderDays: 50,
						totalCost: '100000.00',
						paymentMoney: '30000.00',
						orderState: '已完成',
						remark: ''
					}],
					detailView: true,
					onExpandRow: function(index, row, $detail) {
						var childTable = $detail.html('<table id="childTable"></table>').find('table'); //创建子表
						$(childTable).bootstrapTable({
							columns: [{
								field: 'id',
								title: '编号',
								visible: false
							}, {
								field: 'code',
								title: '商品代码/物料型号'
							}, {
								field: 'name',
								title: '商品名称/物料名称'
							}, {
								field: 'unit',
								title: '单位'
							}, {
								field: 'image',
								title: '图片',
								formatter: function(v) {
									return '<a href="../../img/' + v + '.jpg" data-gallery="" class="gallery-img"><img src="../../img/' + v + '.jpg"></a>';
								}
							}, {
								field: 'purchase_quantity',
								title: '购买数量'
							}, {
								field: 'shipped_quantity',
								title: '已送货数量'
							}, {
								field: 'receipt_quantity',
								title: '收货数量'
							}, {
								field: 'remaining_amount',
								title: '剩余数量'
							}, {
								field: 'finished_production_quantity',
								title: '已生产完成数量',
								formatter: function(v) {
									if(v == undefined) {
										v = " ";
									}
									return v;
								}
							}, {
								field: 'quantity_to_be_produced',
								title: '待生产数量',
								formatter: function(v) {
									if(v == undefined) {
										v = " ";
									}
									return v;
								}
							}, {
								field: 'batch',
								title: '批次'
							}, {
								field: 'stalker',
								title: '订单跟进人'
							}],
							data: [{
								id: 1,
								code: '002B38068M SBB',
								name: 'CASIO 表芯',
								image: 'watch1',
								unit: '只',
								purchase_quantity: 1000,
								shipped_quantity: 500,
								receipt_quantity: 500,
								remaining_amount: 500,
								batch: '2',
								stalker: '谭校'
							}, {
								id: 2,
								code: '002B38068M SBB',
								name: 'CASIO 表带',
								image: 'watch1',
								unit: '只',
								purchase_quantity: 500,
								shipped_quantity: 500,
								receipt_quantity: 200,
								remaining_amount: 300,
								batch: '2',
								stalker: '谭校'
							}]
						});
					},
					onDblClickRow: function(row, $element, field) { //row点击行的
						table.bootstrapTable('collapseAllRows');
						table.bootstrapTable('expandRow', (row.id - 1));
					},
					onClickRow: function(row, $element, field) { //row点击行的
						if(field != 'action') {
							table.bootstrapTable('collapseRow', (row.id - 1));
						}
					},
					/*queryParams: function(params) {
		                var form = liger.get("form");
		                var data = form.getData();
		                var temp = {
		                    pageSize: params.limit,                         //页面大小
		                    pageIndex: (params.offset / params.limit) + 1,   //页码
		                    sort: params.sort,      //排序列名
		                    sortOrder: params.order //排位命令（desc，asc）
		                };
		                mergeObj(temp,data); //合并对象
		                pageSize = temp.pageSize;
		                pageIndex = temp.pageIndex;
		                return temp;
		            }*/
				});
			}

			function initSelect() {
				$('input[name="country"]').ligerComboBox({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text'
				});
				$('input[name="country3"]').ligerComboBox({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text'
				});
				$('input[name="country4"]').ligerComboBox({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text'
				});
			}

			function serach() {
				table.bootstrapTable('refresh');
			}

			function add(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['80%', '80%'],
					content: url
				});
			}

			function edit(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['80%', '80%'],
					content: url + '?id=' + id
				});
			}

			function see(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['80%', '80%'],
					content: url + '?id=' + id
				});
			}

			function del(id) {
				//询问框
				layer.confirm('是否需要删除？', {
					btn: ['确定', '取消'], //按钮
					shade: false //不显示遮罩
				}, function(index) {
					$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/dels',
						data: {
							id: id
						},
						success: function(res) {
							table.bootstrapTable('refresh');
							layer.close(index);
						}
					})
				}, function() {});
			}
		</script>
	</body>

</html>