<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>订单调整</title>
		<meta name="keywords" content="订单调整">
		<meta name="description" content="订单调整">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-editable/bootstrap-editable.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">
		<link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
		<link href="../../css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

	</head>
	<style type="text/css">
		.additional_charges .l-text {
			display: inline-block;
		}
	</style>

	<body class="pd15">
		<form class="form-horizontal m-t" id="signupForm" action="index.html">
			<div class="form-group">
				<label class="col-sm-2 control-label">供货单位</label>
				<div class="col-sm-3">
					<input name="delivery_unit" class="ui-textbox" type="text" ltype="text" value="美国飞企">
				</div>
				<label class="col-sm-2 control-label">订货单位</label>
				<div class="col-sm-3">
					<input name="order_unit" class="ui-textbox" type="text" ltype="text" value="时尚优品">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">地址</label>
				<div class="col-sm-3">
					<input name="supplier_address" class="ui-textbox" type="text" ltype="text" value="北京市海定区xx街xx路xx号">
				</div>
				<label class="col-sm-2 control-label">地址</label>
				<div class="col-sm-3">
					<input name="ordering_unit_address" class="ui-textbox none" type="text" ltype="text" value="北京市海定区xx街xx路xx号">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">联系人</label>
				<div class="col-sm-3">
					<input name="supply_unit_contact" class="ui-textbox" type="text" ltype="text" value="李明">
				</div>
				<label class="col-sm-2 control-label">联系人</label>
				<div class="col-sm-3">
					<input name="ordering_unit_contact" class="ui-textbox" type="text" ltype="text" value="张三">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">联系方式</label>
				<div class="col-sm-3">
					<input name="supply_unit_phone" class="ui-textbox" type="text" ltype="text" value="13565585563">
				</div>
				<label class="col-sm-2 control-label">联系方式</label>
				<div class="col-sm-3">
					<input name="ordering_unit_phone" class="ui-textbox" type="text" ltype="text" value="13565650532">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">传真</label>
				<div class="col-sm-3">
					<input name="supply_unit_fax" class="ui-textbox" type="text" ltype="text">
				</div>
				<label class="col-sm-2 control-label">传真</label>
				<div class="col-sm-3">
					<input name="ordering_unit_fax" class="ui-textbox" type="text" ltype="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">开户行</label>
				<div class="col-sm-3">
					<input name="supply_unit_bank" class="ui-textbox" type="text" ltype="text" value="北京市海定区xx街建设银行">
				</div> <label class="col-sm-2 control-label">收货地址</label>
				<div class="col-sm-3">
					<input name="ordering_unit_bank" class="ui-textbox" type="text" ltype="text" value="北京市海定区xx街xx路xx号">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">账号</label>
				<div class="col-sm-3">
					<input name="account_number" class="ui-textbox" type="text" ltype="text" value="6160654654564654">
				</div>
				<label class="col-sm-2 control-label">下单日期</label>
				<div class="col-sm-3">
					<input name="order_date" id="order_date" class="ui-textbox" type="text" ltype="text" value="2017-3-9">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">纳税人登记号</label>
				<div class="col-sm-3">
					<input name="taxpayer_registration_number" class="ui-textbox" type="text" ltype="text">
				</div> <label class="col-sm-2 control-label">交货日期</label>
				<div class="col-sm-3">
					<input name="delivery_date" id="delivery_date" class="ui-textbox" type="text" ltype="text" value="2017-4-15">
				</div>
			</div>
			<div class="form-group" style="font-weight:bold;color: blue;">
				<label class="col-sm-2 control-label">结算方式</label>
				<div class="col-sm-3">
					<input name="product_inspector" value="A类开票" class="ui-textbox" type="text" ltype="text">
				</div>
				<label class="col-sm-2 control-label">订单号</label>
				<div class="col-sm-3">
					<input name="order_num" class="ui-textbox" type="text" value="PO-YFDK0012">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">定金</label>
				<div class="col-sm-3">
					<input name="earnest" class="ui-textbox" type="text" ltype="text">
				</div>
				<label class="col-sm-2 control-label">总批次</label>
				<div class="col-sm-3">
					<input name="total_batch" class="ui-textbox" type="text" ltype="text" value="3">
				</div>
			</div>
			<div>
				<div class="form-group">
					<label class="col-sm-2 control-label">结算渠道</label>
					<div class="col-sm-3">
						<input name="billing_channel" class="ui-textbox" type="text" ltype="text" value="汇款">
					</div>
					<label class="col-sm-2 control-label">结算货币</label>
					<div class="col-sm-3">
						<input name="settlementCurrency" class="ui-textbox" type="text" ltype="text" value="美元">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">货币汇率</label>
					<div class="col-sm-3">
						<input name="currency_exchange_rate" class="ui-textbox" type="text" ltype="text">
					</div>
					<label class="col-sm-2 control-label">折扣</label>
					<div class="col-sm-3">
						<input name="discount" class="ui-textbox" type="text" ltype="text" validate="{number:true}">
					</div>
				</div>
			</div>
			<div class="form-group additional_charges">
				<label class="col-sm-2 control-label">额外费用</label>
				<div class="col-sm-8">
					<div class="bootstrap-table">
						<div class="fixed-table-container">
							<div class="fixed-table-header">
								<table class="table table-hover">
									<tbody>
										<tr>
											<td class="text-right"><label class="lable-fl">人工费</label><input name="labor_costs" class="ui-textbox input-width-100 fee" type="text" validate="{number:true}"></td>
											<td class="text-right"><label class="lable-fl">运输费</label><input name="shipping_fee" class="ui-textbox input-width-100 fee" type="text" validate="{number:true}"></td>
											<td class="text-right"><label class="lable-fl">附加费</label><input name="additional_fee" class="ui-textbox input-width-100 fee" type="text" validate="{number:true}"></td>
											<td class="text-right"><label class="lable-fl">其他费</label><input name="other_fee" class="ui-textbox input-width-100 fee" type="text" validate="{number:true}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group pay-panel display-none">
				<label class="col-sm-2 control-label">申请金额</label>
				<div class="col-sm-3">
					<input name="application_amount" class="ui-textbox application_amount" type="text" ltype="text" validate="{required:true,number:true}">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">采购产品</label>
				<div class="col-sm-8">
					<table id="purchaseMaterielTable"></table>
				</div>
			</div>
			<div class="audit-panel display-none">
				<div class="form-group">
					<label class="col-sm-2 control-label">审核</label>
					<div class="col-sm-10">
						<div class="radio i-checks">
							<label><input type="radio" checked="" value="是" name="audit"></label>审核通过
							<label><input type="radio" value="否" name="audit"></label>退回修改
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">审核意见</label>
					<div class="col-sm-10" style="padding: 1px 15px;">
						<textarea name="audit" placeholder="请输入审核意见" class="layui-textarea" style="min-width:79.5%;min-height: 100px;height: auto;line-height: 20px;padding: 6px 10px;resize: vertical;border: 1px solid #e5e6e7;"></textarea>
					</div>
				</div>
			</div>
			<div class="form-group text-right">
				<div class="col-sm-10">
					<button class="btn btn-primary submit" type="submit" onclick="submitForm()">保存</button>
					<button class="btn btn-primary" type="button" onclick="cancelLayer();">取消</button>
				</div>
			</div>
		</form>

		<!--显示图片层-->
		<div id="blueimp-gallery" class="blueimp-gallery">
			<div class="slides"></div>
			<h3 class="title"></h3>
			<a class="close">×</a>
		</div>

		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/plugins/datapicker/bootstrap-datepicker.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-table-editable.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/plugins/iCheck/icheck.min.js"></script>
		<script src="../../js/plugins/layer/laydate/laydate.js"></script>
		<script src="../../js/plugins/validate/jquery.validate.min.js"></script>
		<script src="../../js/plugins/validate/messages_zh.min.js"></script>
		<script src="../../js/plugins/validate/jquery.metadata.js"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>

		<script>
			var table = $("#purchaseMaterielTable");
			$(function() {
				initTable();

				new formValidate({
					formEle: '#signupForm'
				});

				$(".i-checks").iCheck({
					checkboxClass: "icheckbox_square-green",
					radioClass: "iradio_square-green"
				});

				$('.ui-textbox').addClass('border-none').attr('disabled', 'disabled');
				$('.fee').removeClass('border-none').removeAttr('disabled');

				if($.getUrlParam('id')) {
					//订单调整审核
					if($.getUrlParam('action') == 'AUDIT') {
						$('.audit-panel').removeClass('display-none');
						//改变editable状态
						$('#purchaseMaterielTable a[data-name=receive_quantity].editable').editable('toggleDisabled');
						$('#purchaseMaterielTable a[data-name=unreturned_quantity].editable').editable('toggleDisabled');
						$('#purchaseMaterielTable a[data-name=remark].editable').editable('toggleDisabled');
						$('.ui-textbox').addClass('border-none').attr('disabled', 'disabled').css("background-color","#eee");
						$('.layui-textarea.remark').addClass('border-none').attr('disabled', 'disabled').css("background-color","#eee");
					}
					sum();
					setData();
				} else {}

				$("input[name=labor_costs]").blur(function() {
					average();
				});

				$("input[name=shipping_fee]").blur(function() {
					average();
				});

				$("input[name=additional_fee]").blur(function() {
					average();
				});

				$("input[name=other_fee]").blur(function() {
					average();
				});

			});

			//初始化采购物资信息
			function initTable() {
				table.bootstrapTable({
					columns: [{
							field: "id",
							title: "编号",
							visible: false
						},
						{
							field: "materials_number",
							title: "商品代码/物料型号"
						},
						{
							title: "商品/物料名称",
							field: "materials_name"
						},
						{
							field: "supplier",
							title: "选择供应商"
						},
						{
							field: "purchase_type",
							title: "采购类型"
						},
						{
							title: '尺码',
							field: 'size'
						},
						{
							title: '颜色',
							field: 'color'
						},
						{
							title: "商品/物料图片",
							field: "images",
							formatter: function(v) {
								return '<a href="../../img/' + v + '.jpg" title="图片" data-gallery="" class="gallery-img"><img src="../../img/' + v + '.jpg"></a>';
							}
						},
						{
							title: '单价',
							field: 'unit_price'
						},
						{
							title: '库存数量',
							field: 'inventory_quantity'
						},
						{
							title: '订单数量',
							field: 'purchase_quantity',
							class: 'quantity'
						},
						{
							title: '收货数量',
							field: 'receive_quantity',
							editable: {
								type: 'text',
								emptytext: '请输入收货数量'
							}
						},
						{
							title: '未回货数量',
							field: 'unreturned_quantity',
							editable: {
								type: 'text',
								emptytext: '请输入收货数量',
								validate: function(value) {
									if(!$.trim(value)) {
										return '收货数量不能为空';
									}
								}
							}
						},
						{
							title: '分摊前金额',
							field: 'apportioned_amount_before',
							class: 'amount',
							formatter: function(value, row, index) {
								return row.unit_price * row.purchase_quantity;
							}
						},
						{
							title: '分摊后金额',
							class: 'apportioned_amount_after',
							field: 'apportioned_amount_after',
							formatter: function(value, row, index) {
								return(value + row.apportioned_amount_before);
							}
						},
						{
							title: '备注',
							field: 'remark',
							formatter: function(value, row, index) {
								return '<textarea name="remark" placeholder="请输入内容" class="layui-textarea remark" style="min-width:79.5%;min-height: 100px;height: auto;line-height: 20px;padding: 6px 10px;resize: vertical;border: 1px solid #e5e6e7;">' + value + '</textarea>';
							}
						}
					],
					data: [{
						id: 1,
						materials_number: '002B38068M SBB',
						materials_name: 'CASIO 表芯',
						supplier: '广州集团',
						purchase_type: '鼎骏自购',
						size: '通码',
						color: '通色',
						images: 'watch1',
						unit_price: 7,
						inventory_quantity: 100,
						purchase_quantity: 50,
						receive_quantity: 20,
						unreturned_quantity: 30,
						apportioned_amount_before: 350,
						apportioned_amount_after: 0,
						remark: ''
					}, {
						id: 2,
						materials_number: '0036D38068M SBB',
						materials_name: 'CASIO 表带',
						supplier: '广州宝玑集团',
						purchase_type: '鼎骏自购',
						size: '通码',
						color: '通色',
						images: 'watch1',
						unit_price: 7,
						inventory_quantity: 100,
						purchase_quantity: 50,
						receive_quantity: 20,
						unreturned_quantity: 30,
						apportioned_amount_before: 350,
						apportioned_amount_after: 0,
						remark: ''
					}],
					onEditableSave: function(field, row, oldValue, $el) {
						//更新行才能合计
						table.bootstrapTable('updateRow', {
							index: row.rowId,
							row: row
						});
						sum();
					}
				});
			}
			
			//平摊价格
			function average() {
				var sum = 0;
				var apportioned_amount_after = 0;
				var apportioned_amount_after_total = 0;
				sum += +$("input[name=labor_costs").val();
				sum += +$("input[name=shipping_fee").val();
				sum += +$("input[name=additional_fee").val();
				sum += +$("input[name=other_fee").val();
				var rowIndex = table.find('tbody tr').length;
				var bisection = sum / (rowIndex - 1);

				$("#purchaseMaterielTable tbody tr").each(function(i, e) {
					apportioned_amount_after = parseFloat(bisection + parseFloat($(e).find("td[class='amount']").text()))
					$(e).find("td[class='apportioned_amount_after']").text(apportioned_amount_after);
				});

				//合计分摊后的金额
				$("#purchaseMaterielTable td[class='apportioned_amount_after']").each(function() {
					apportioned_amount_after_total += +$(this).text();
				});
				$(".apportioned_amount_after_total").text(apportioned_amount_after_total + '元');

				//进口手表单价成本=外币单价*汇率*（1+税率）+（运费+其他费用）/本次订单手表数量
			}

			//统计
			function sum() {
				//订单总数量
				var sumQuantity = 0;
				//收货总数量
				var sumReceiveQuantity = 0;
				//未回货总数量
				var sumNotReturnedQuantity = 0;
				//总金额
				var sumAmount = 0;
				var sumAmountAfter = 0;
				$("#purchaseMaterielTable td[class='quantity']").each(function() {
					sumQuantity += +$(this).text()
				});
				$("#purchaseMaterielTable a[data-name='receive_quantity']").each(function() {
					sumReceiveQuantity += +$(this).text();
				});
				$("#purchaseMaterielTable a[data-name='unreturned_quantity']").each(function() {
					sumNotReturnedQuantity += +$(this).text();
				});
				$("#purchaseMaterielTable td[class='amount']").each(function() {
					sumAmount += +$(this).text();
				});
				$("#purchaseMaterielTable td[class='apportioned_amount_after']").each(function() {
					sumAmountAfter += +$(this).text();
				});
				$('input[name="total_amount"]').val(sumAmount);
				//先删除最后一行
				if($("#purchaseMaterielTable tr").hasClass('footer')) {
					$("#purchaseMaterielTable tr:last").remove();
				}
				var tr = '<tr><td class="text-right" colspan="9">合计</td><td>' + sumQuantity + '</td><td>' + sumReceiveQuantity + '</td><td>' + sumNotReturnedQuantity + '</td><td class="apportioned_amount_before_total">' + sumAmount + '元</td><td colspan="3" class="apportioned_amount_after_total">' + sumAmountAfter + '元</td></tr >';
				$('#purchaseMaterielTable').append(tr);
			}

			function valid() {
				var form = liger.get("signupForm");
				alert(form.valid());
			}

			function getData() {
				var form = liger.get("signupForm");
				var data = form.getData();
				alert(JSON.stringify(data));
			}

			function setData() {
				$.ajax({
					url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/getUser',
					data: {
						id: $.getUrlParam('id')
					},
					success: function(res) {
						res = $.parseJSON(res);
						var form = new liger.get("signupForm");
						/**data 为测试使用**/
						var data = [{
							id: 1,
							materials_number: '1',
							materials_name: 'xx',
							unit_price: '50',
							amount: '20',
							remark: '含吊牌及机芯'
						}];
						res = data;
						form.setData(res);
					}
				})
			}

			function submitForm() {
				var form = liger.get("signupForm");
				if(!form.valid()) {
					return;
				}
				var data = {};
				$("input,select,textarea").each(function() {
					var name = $(this).attr("name");
					if(name && name.indexOf('ligerui') == -1) {
						data[name] = this.value;
					}
				});
				data.id = $.getUrlParam('id');

				//				$.ajax({
				//					type: 'post',
				//					url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/setUser',
				//					data: data,
				//					success: function(res) {
				//						if(Number(res)) {
				//							parent.table.bootstrapTable('refresh');
				//							var index = parent.layer.getFrameIndex(window.name);
				//							parent.layer.close(index);
				//							
				//						}
				//					}
				//				})

				/*
				            parent.table.bootstrapTable('refresh');
				            var index = parent.layer.getFrameIndex(window.name);
				            parent.layer.close(index);*/
			}
		</script>
	</body>

</html>