<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 表单验证 jQuery Validation</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <link href="../../css/style.min.css" rel="stylesheet">

</head>

<body class="pdt40">

    <form class="form-horizontal m-t" id="signupForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">操作用户：</label>
            <div class="col-sm-6">
                <input id="textbox1" name="p_type" value="admin" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">IP地址：</label>
            <div class="col-sm-6">
                <input id="textbox1" name="p_country" value="192.168.3.108" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">物理地址：</label>
            <div class="col-sm-6">
                <input id="textbox1" name="p_type" value="00:50:56:C0:00:08" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">日志日期：</label>
            <div class="col-sm-6">
                <input id="textbox1" name="p_country" value="2018-3-7" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">日志类型：</label>
            <div class="col-sm-6">
                <input id="textbox1" name="p_type" value="操作日志" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">操作名称：</label>
            <div class="col-sm-6">
                <input id="textbox1" name="p_country" value="update:Permission" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">模型ID：</label>
            <div class="col-sm-6">
                <input id="textbox1" name="p_type" value="74" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">操作描述：</label>
            <div class="col-sm-6">
                <input id="textbox1" name="p_country" value="更新:com.erp.model.Permission" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}">
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
                <!-- <button class="btn btn-primary" type="button" onclick="valid()">验证</button> -->
                <!-- <button class="btn btn-primary" type="button" onclick="getData();">获取值</button> -->
                <!-- <button class="btn btn-primary" type="button" onclick="setData();">设置值</button> -->
                <button class="btn btn-primary" type="submit" onclick="submitForm();">提交</button>
            </div>
        </div>
    </form>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/js.js"></script>
    <!-- <script src="../../js/content.min.js"></script> -->
    <script src="../../js/ligerui.all.js"></script>
    <script src="../../js/plugins/validate/jquery.validate.min.js"></script>
    <script src="../../js/plugins/validate/messages_zh.min.js"></script>
    <script src="../../js/plugins/validate/jquery.metadata.js"></script>
    <!-- <script src="../../js/demo/form-validate-demo.min.js"></script> -->
    <script>

        $(function(){
            if($.getUrlParam('id')){
                //setData();
            }else{

            }
            initSelect();

           new formValidate({formEle:'#signupForm'});

        });



        function initSelect(){
            $('input[name="country3"]').ligerComboBox({
                url: '../../data/city.txt',
                valueField : 'value',
                textField: 'text'
            });
            $('input[name="country4"]').ligerComboBox({
                url: '../../data/city.txt',
                valueField : 'value',
                textField: 'text',
   　　isMultiSelect: true　　//是否支持多选
            });

            $('input[name="country2"]').ligerRadioList({
                url: '../../data/city.txt',
                valueField : 'value',
                textField: 'text'
            });
            $('input[name="country"]').ligerCheckBoxList({
                url: '../../data/city.txt',
                valueField : 'value',
                textField: 'text'
            });
        }



        function valid()
        {
            var form = liger.get("signupForm");
            alert(form.valid());
        }
        function getData()
        {
            var form = liger.get("signupForm");
            var data = form.getData();
            alert(JSON.stringify(data));
        }
        function setData()
        {
            $.ajax({
                url:  USER_INFO.SITE_URL+'/tp5/public/index.php/Admin/Admin/getUser',
                data: {id:$.getUrlParam('id')},
                success: function (res) {
                    res = $.parseJSON(res);
                    var form = new liger.get("signupForm");
                    form.setData(res);
                }
            })
        }


        function submitForm()
        {

            var form = liger.get("signupForm");
            if(!form.valid()){
                return;
            }
            var data = {};
            $("input,select,textarea").each(function (){
                var name = $(this).attr("name");
                if (name && name.indexOf('ligerui') == -1){
                    data[name] = this.value;
                }
            });
            data.id = $.getUrlParam('id');

            $.ajax({
                type:'post',
                url:  USER_INFO.SITE_URL+'/tp5/public/index.php/Admin/Admin/setUser',
                data: data,
                success: function (res) {
                    if(Number(res)){
                        parent.table.bootstrapTable('refresh');
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    }
                }
            })
/*
            parent.table.bootstrapTable('refresh');
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);*/
        }

    </script>
</body>

</html>
