<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>H+ 后台主题UI框架 - Bootstrap Table</title>
		<meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
		<meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">

	</head>

	<body class="gray-bg pd15">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4 mgt2">查询条件</div>
					<div class="col-sm-8 text-right">
						<button class="btn btn-xs btn-primary" onclick="add('添加','journal_list_edit.html')">添加</button>
						<button class="btn btn-xs btn-primary" onclick="serach()">查询</button>
					</div>
				</div>
			</div>

			<div class="panel-body d-serach">
				<form id="form">
					<div class="row ">
						<label class="col-sm-2 control-label">操作用户：</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="username" id="search_name" />
						</div>
						<label class="col-sm-2 control-label">IP地址：</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="password" id="search_tel" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="content-style0">
			<table id="exampleTableEvents"></table>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/content.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/js.js"></script>
		<script>
			$("#form").ligerForm({
				inputWidth: '',
				validate: true
			});
			var pageSize; //总页数
			var pageIndex; //当前第几页
			var table = $("#exampleTableEvents");
			table.bootstrapTable({
				//url: USER_INFO.SITE_URL+'/tp5/public/index.php/Admin/Admin/noteListDemo', //服务端需要返回rows与total字段
				pagination: true, //分页
				data: [{
					name: 'admin',
					p_wlname: '192.168.3.108',
					p_name: '00:50:56:C0:00:08',
					p_type: '2018-3-7',
					p_1: '操作日志',
					p_2: 'update:Permission',
					p_3: 74,
					p_4: '更新:com.erp.model.Permission'
				}, {
					name: 'admin',
					p_wlname: '192.168.3.108',
					p_name: '00:50:56:C0:00:08',
					p_type: '2018-3-7',
					p_1: '操作日志',
					p_2: 'update:Permission',
					p_3: 74,
					p_4: '更新:com.erp.model.Permission'
				}, {
					name: 'admin',
					p_wlname: '192.168.3.108',
					p_name: '00:50:56:C0:00:08',
					p_type: '2018-3-7',
					p_1: '操作日志',
					p_2: 'update:Permission',
					p_3: 74,
					p_4: '更新:com.erp.model.Permission'
				}, {
					name: 'admin',
					p_wlname: '192.168.3.108',
					p_name: '00:50:56:C0:00:08',
					p_type: '2018-3-7',
					p_1: '操作日志',
					p_2: 'update:Permission',
					p_3: 74,
					p_4: '更新:com.erp.model.Permission'
				}, {
					name: 'admin',
					p_wlname: '192.168.3.108',
					p_name: '00:50:56:C0:00:08',
					p_type: '2018-3-7',
					p_1: '操作日志',
					p_2: 'update:Permission',
					p_3: 74,
					p_4: '更新:com.erp.model.Permission'
				}, {
					name: 'admin',
					p_wlname: '192.168.3.108',
					p_name: '00:50:56:C0:00:08',
					p_type: '2018-3-7',
					p_1: '操作日志',
					p_2: 'update:Permission',
					p_3: 74,
					p_4: '更新:com.erp.model.Permission'
				}, {
					name: 'admin',
					p_wlname: '192.168.3.108',
					p_name: '00:50:56:C0:00:08',
					p_type: '2018-3-7',
					p_1: '操作日志',
					p_2: 'update:Permission',
					p_3: 74,
					p_4: '更新:com.erp.model.Permission'
				}, ],
				pageSize: 5, //每页多少条
				//method:'post',
				//sidePagination: "server", //服务端处理分页
				columns: [{
						align: 'center',
						checkbox: true
					}, {
						title: '操作用户',
						field: 'name'
					}, {
						title: 'IP地址',
						field: 'p_wlname'
					}, {
						title: '物理地址',
						field: 'p_name'
					}, {
						title: '日志日期',
						field: 'p_type'
					}, {
						title: '日志类型',
						field: 'p_1'
					}, {
						title: '操作名称',
						field: 'p_2'
					}, {
						title: '模型ID',
						field: 'p_3'
					}, {
						title: '操作描述',
						field: 'p_4'
					}, {
						title: '操作',
						width: '200',
						formatter: function(value, row, index) {
							var str = '';
							// str+='<a class="btn btn-white btn-xs" onclick="see(\'查看\','+row.id+')"><i class="fa fa-folder"></i> 查看 </a>&nbsp;';
							str += '<a class="btn btn-white btn-xs" onclick="see(\'查看\',\'journal_list_see.html\',' + row.id + ')">查看 </a> ';
							str += '<a class="btn btn-white btn-xs" onclick="edit(\'编辑\',\'journal_list_edit.html\',' + row.id + ')">编辑 </a> ';
							str += '<a class="btn btn-white btn-xs" onclick="del(' + row.id + ')">删除 </a>';
							return str;
						}
					}]
					/*,
					            queryParams: function(params) {
					                var form = liger.get("form");
					                var data = form.getData();
					                var temp = {
					                    pageSize: params.limit,                         //页面大小
					                    pageIndex: (params.offset / params.limit) + 1,   //页码
					                    sort: params.sort,      //排序列名
					                    sortOrder: params.order //排位命令（desc，asc）
					                };
					                mergeObj(temp,data); //合并对象
					                pageSize = temp.pageSize;
					                pageIndex = temp.pageIndex;
					                return temp;
					            }*/
			});
			initSelect();

			function initSelect() {
				$('input[name="country"]').ligerComboBox({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text'
				});
				$('input[name="country3"]').ligerComboBox({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text'
				});
				$('input[name="country4"]').ligerComboBox({
					url: '../../data/city.txt',
					valueField: 'value',
					textField: 'text'
				});
			}

			function serach() {
				table.bootstrapTable('refresh');
			}

			function see(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					shadeClose: true,
					title: title,
					area: ['80%', '80%'],
					content: url + '?id=' + id
				});
//				layer.full(index);
			}

			function add(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					shadeClose: true,
					title: title,
					area: ['80%', '80%'],
					content: url
				});
//				layer.full(index);
			}

			function edit(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					shadeClose: true,
					title: title,
					area: ['80%', '80%'],
					content: url + '?id=' + id
				});
				//          layer.full(index);
			}

			function del(id) {
				//询问框
				layer.confirm('是否需要删除？', {
					btn: ['确定', '取消'], //按钮
					shade: false //不显示遮罩
				}, function(index) {
					$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/dels',
						data: {
							id: id
						},
						success: function(res) {
							table.bootstrapTable('refresh');
							layer.close(index);
						}
					})
				}, function() {});
			}
		</script>

	</body>

</html>