<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">
	</head>

	<body>
		<div class="pd15">
			<h2 class="m-b-md">导入模板</h2>
			<div class="form-group">
				<p style="color:red">请先下载模板，按照模板格式填写，不能修改格式，填写完毕再上传excel表。</p>
				<p style="color:red">若上传有错误，下方将生成日志，请下载查看。</p>
			</div>
			<div class="text-right pdt40">
				<a href="#" class="btn btn-success" type="button">
					<i class="fa fa-download"></i>&nbsp;&nbsp;<span class="bold">下载模板</span>
				</a>
				<a href="#" class="btn btn-success" type="button">
					<i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">导入模板</span>
					<input type="file" multiple="multiple" style="visibility: hidden; position: absolute;">
				</a>	
			</div>
		</div>
	</body>
</html>