<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>订单核算</title>
		<meta name="keywords" content="订单核算">
		<meta name="description" content="订单核算">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-editable/bootstrap-editable.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/plugins/select2/select2.min.css" />
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">
		<link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">

	</head>

	<body class="pd15">

		<form class="form-horizontal m-t" id="signupForm">
			<div class="form-group">
				<label class="col-sm-2 control-label">订单编号</label>
				<div class="col-sm-3">
					<a onclick="detail('详情','../../template/common/order_list_see.html','J2018A5001728')" style="line-height: 30px;">J2018A5001728</a>
				</div>
				<label class="col-sm-2 control-label">供应商</label>
				<div class="col-sm-3">
					<a onclick="detail('详情','../../template/supplier_manage/supplier_info_list_edit.html','')" style="line-height: 30px;">广州集团</a>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">结算渠道</label>
				<div class="col-sm-3">
					<select id="billingChannel" class="js-example-basic-single form-control" ltype="select" ligeruiid="billingChannel">
						<option value="汇款">汇款</option>
						<option value="现金">现金</option>
					</select>
				</div>
				<label class="col-sm-2 control-label">结算币种</label>
				<div class="col-sm-3">
					<select id="currency" class="js-example-basic-single form-control" ltype="select" ligeruiid="currency">
						<option value="美元">美元（USD）</option>
						<option value="德国马克">德国马克（DEM）</option>
						<option value="日元">日元（JPY）</option>
						<option value="瑞士法郎">瑞士法郎（CHF）</option>
						<option value="法国法郎">法国法郎（FRF）</option>
						<option value="意大利里拉">意大利里拉（ITL）</option>
						<option value="荷兰盾">荷兰盾（NLG）</option>
						<option value="比利时法郎">比利时法郎（BEU）</option>
						<option value="丹麦克朗">丹麦克朗（DKR）</option>
						<option value="瑞典克朗">瑞典克朗（SKR）</option>
						<option value="挪威克朗">挪威克朗（NKR）</option>
						<option value="奥地利先令">奥地利先令（ATS）</option>
						<option value="港币">港币（HKD）</option>
						<option value="加拿大元">加拿大元（CAD）</option>
						<option value="澳大利亚元">澳大利亚元（AUD）</option>
						<option value="新西兰元">新西兰元（NZD）</option>
						<option value="新加坡元">新加坡元（SGD）</option>
						<option value="欧元">欧元（EUR）</option>
						<option value="英镑">英镑（GBP）</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">订单总额</label>
				<div class="col-sm-3">
					<input name="totalCost" class="ui-textbox" type="text" ltype="text" value="1050">
				</div>
				<label class="col-sm-2 control-label">折扣</label>
				<div class="col-sm-3">
					<input name="discount" class="ui-textbox" type="text" ltype="text" value="1">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">定金</label>
				<div class="col-sm-3">
					<input name="deposit" class="ui-textbox" type="text" ltype="text" value="">
				</div>
				<label class="col-sm-2 control-label">货币汇率</label>
				<div class="col-sm-3">
					<input name="currency_rate" class="ui-textbox" type="text" ltype="text" value="0.7">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">已付款金额</label>
				<div class="col-sm-3">
					<input name="amountPaid" class="ui-textbox" type="text" ltype="text" value="500">
				</div>
				<label class="col-sm-2 control-label">未付款</label>
				<div class="col-sm-3">
					<input name="unpaidAmount" class="ui-textbox" type="text" ltype="text" value="650">
				</div>
			</div>
			<div class="form-group additional_charges">
				<label class="col-sm-2 control-label">额外费用</label>
				<div class="col-sm-8">
					<div class="bootstrap-table">
						<div class="fixed-table-container">
							<div class="fixed-table-header">
								<table class="table table-hover">
									<tbody>
										<tr>
											<td class="text-right"><label class="lable-fl">人工费</label><input name="labor_costs" class="ui-textbox input-width-100" type="text"></td>
											<td class="text-right"><label class="lable-fl">运输费</label><input name="shipping_fee" class="ui-textbox input-width-100" type="text"></td>
											<td class="text-right"><label class="lable-fl">附加费</label><input name="additional_fee" class="ui-textbox input-width-100" type="text"></td>
											<td class="text-right"><label class="lable-fl">其他费</label><input name="other_fee" class="ui-textbox input-width-100" type="text"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">收货清单</label>
				<div class="col-sm-8">
					<table id="receiptListTable"></table>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">核算人</label>
				<div class="col-sm-3">
					<input name="originator" class="ui-textbox" type="text" ltype="text" value="季童薇">
				</div>
				<label class="col-sm-2 control-label">核算日期</label>
				<div class="col-sm-3">
					<input name="originator" class="ui-textbox" type="text" ltype="text" value="2018-01-03">
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">核销</label>
				<div class="col-sm-10">
					<div class="radio i-checks">
						<label><input type="radio" value="是" name="write_off" checked=""></label>通过
						<label><input type="radio" value="否" name="write_off"></label>不通过
					</div>
				</div>
			</div>
			<div class="form-group text-right">
				<div class="col-sm-8 col-sm-offset-2">
					<button class="btn btn-primary" type="submit" onclick="submitForm();">确定核销</button>
					<button class="btn btn-primary" type="submit" onclick="cancelLayer();">取消</button>
				</div>
			</div>
		</form>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/plugins/validate/jquery.validate.min.js"></script>
		<script src="../../js/plugins/validate/messages_zh.min.js"></script>
		<script src="../../js/plugins/validate/jquery.metadata.js"></script>
		<script src="../../js/plugins/iCheck/icheck.min.js"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable-select2.full.min.js" type="text/javascript" charset="utf-8"></script>

		<script>
			var table = $("#receiptListTable");
			$(function() {
				new formValidate({
					formEle: '#signupForm'
				});

				$('#billingChannel').select2({}).on('select2:select', function(event) {});
				$("#billingChannel").prop("disabled", true); //设置下拉框不可用

				$('#currency').select2({}).on('select2:select', function(event) {});
				$("#currency").prop("disabled", true); //设置下拉框不可用

				$(".ui-textbox").attr("disabled", true).css("background-color", "#eee");
				
				$(".i-checks").iCheck({
					checkboxClass: "icheckbox_square-green",
					radioClass: "iradio_square-green",
				});
				

				initReceiptListTable();
				$(".btn-default").addClass("btn-outline");
				//合并单元格
				mergeCell();
				sum();
			});

			function initReceiptListTable() {
				table.bootstrapTable({
					search: true,
					showRefresh: true,
					showColumns: true,
					icons: {
						refresh: "glyphicon-repeat",
						columns: "glyphicon-list"
					},
					columns: [{
						field: "order_number",
						title: "订单编号"
					}, {
						field: "code",
						title: "商品代码/物料型号"
					}, {
						field: "name",
						title: "商品名称/物料名称"
					}, {
						field: "unit",
						title: "单位",
						visible: false
					}, {
						field: "size",
						title: "尺码",
						visible: false
					}, {
						field: "color",
						title: "颜色",
						visible: false
					}, {
						field: "image",
						title: "图片",
						visible: false,
						formatter: function(v) {
							return '<a href="../../img/' + v + '.jpg" title="图片" data-gallery="" class="gallery-img"><img src="../../img/' + v + '.jpg"></a>';
						}
					}, {
						title: '单价',
						field: 'purchase_price'
					}, {
						title: '采购数量',
						field: 'purchase_quantity',
						class: 'purchase_quantity'
					}, {
						title: '分摊前金额',
						field: 'apportioned_amount_before',
						class: 'amount',
						formatter: function(value, row, index) {
							if(row.purchase_price == undefined || row.purchase_quantity == undefined) {
								value = 0;
							} else {
								value = row.purchase_price * row.purchase_quantity;
							}
							return value;
						}
					}, {
						title: '分摊后金额',
						field: 'apportioned_amount_after',
						class: 'apportioned_amount_after',
						formatter: function(value, row, index) {
							if(value == undefined || row.apportioned_amount_before == undefined) {
								value = 0;
							} else {
								value = value + row.apportioned_amount_before;
							}
							return value;
						}
					}],
					data: [{
						id: 1,
						order_number: 'J2018A5001728',
						code: '160M60LYXCL',
						name: 'CASIO MTP-1329D-5A',
						supplier: '北京劳力士集团',
						unit: '件',
						gp: '考核',
						image: 'watch1',
						size: '通码',
						color: '通色',
						purchase_price: 8,
						purchase_quantity: 500,
						total_quality_inspection: 100,
						AAmount: 98,
						warehouse: '',
						CAmount: 2,
						remark: ''
					}, {
						id: 2,
						order_number: 'J2018A5011728',
						code: '002B38068M QQF-01',
						name: '表带',
						supplier: '广州环海报关服务有限公司',
						unit: '件',
						gp: '考核',
						image: 'watch1',
						size: '通码',
						color: '通色',
						purchase_price: 5,
						purchase_quantity: 400,
						total_quality_inspection: 100,
						AAmount: 98,
						warehouse: '',
						CAmount: 2,
						remark: ''
					}, {
						id: 3,
						order_number: 'J2018A5011728',
						code: '002B38068M QQF-01',
						name: '表带',
						supplier: '广州环海报关服务有限公司',
						unit: '件',
						gp: '考核',
						image: 'watch1',
						size: '通码',
						color: '通色',
						purchase_price: 6,
						purchase_quantity: 300,
						total_quality_inspection: 100,
						AAmount: 98,
						warehouse: '',
						CAmount: 2,
						remark: ''
					}, {
						id: 4,
						order_number: 'J2018A5001728',
						code: '160M60LYXCL',
						name: 'CASIO MTP-1339D-5A',
						supplier: '北京劳力士集团',
						unit: '件',
						gp: '考核',
						image: 'watch1',
						size: '通码',
						color: '通色',
						purchase_price: 9,
						purchase_quantity: 200,
						total_quality_inspection: 100,
						AAmount: 98,
						warehouse: '',
						CAmount: 2,
						remark: ''
					}],
					onSearch: function() {
						mergeCell();
						sum();
					},
					onColumnSwitch: function(field, checked) {
						mergeCell();
						sum();
					},
					onLoadSuccess: function(data) {
						mergeCell();
						sum();
					}
				});
			}

			function mergeCell() {
				var data = table.bootstrapTable('getData', true);
				//合并单元格
				mergeCells(data, "order_number", null, "#receiptListTable");
			}

			function sum() {
				var sumQuantity = 0;
				var sumAmount = 0;
				var sumAmountAfter = 0;
				//数量合计
				$("#receiptListTable td[class='purchase_quantity']").each(function() {
					sumQuantity += +$(this).text();
				});
				//分摊前金额合计
				$("#receiptListTable td[class='amount']").each(function() {
					sumAmount += +$(this).text();
				});
				//分摊后金额合计
				$("#receiptListTable td[class='apportioned_amount_after']").each(function() {
					sumAmountAfter += +$(this).text();
				});
				//先删除最后一行
				if($("#receiptListTable tr").hasClass('footer')) {
					$("#receiptListTable tr:last").remove();
				}
				var columns = $('table thead tr').find('th').size();
				var nextColumns = $('table thead tr').find('th.apportioned_amount_after').nextAll().size();
				var colspan = parseInt(columns - 3 - nextColumns);
				var tr = '<tr class="footer"><td class="text-right" colspan="' + colspan + '">合计</td><td>' + sumQuantity + '</td><td class="total_price">' + sumAmount + '元</td><td class="apportioned_amount_after_total" colspan="' + (nextColumns + 1) + '">' + sumAmountAfter + '元</td></tr>';
				$('#receiptListTable').append(tr);
			}

			function edit(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url + '?id=' + id
				});
			}

			function valid() {
				var form = liger.get("signupForm");
				alert(form.valid());
			}

			function getData() {
				var form = liger.get("signupForm");
				var data = form.getData();
				alert(JSON.stringify(data));
			}

			function setData() {
				$.ajax({
					url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/getUser',
					data: {
						id: $.getUrlParam('id')
					},
					success: function(res) {
						res = $.parseJSON(res);
						var form = new liger.get("signupForm");
						form.setData(res);
					}
				})
			}

			function submitForm() {

				var form = liger.get("signupForm");
				if(!form.valid()) {
					return;
				}
				var data = {};
				$("input,select,textarea").each(function() {
					var name = $(this).attr("name");
					if(name && name.indexOf('ligerui') == -1) {
						data[name] = this.value;
					}
				});
				data.id = $.getUrlParam('id');

				$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/setUser',
						data: data,
						success: function(res) {
							if(Number(res)) {
								parent.table.bootstrapTable('refresh');
								var index = parent.layer.getFrameIndex(window.name);
								parent.layer.close(index);
							}
						}
					})
					/*
					            parent.table.bootstrapTable('refresh');
					            var index = parent.layer.getFrameIndex(window.name);
					            parent.layer.close(index);*/
			}
		</script>
	</body>

</html>