<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>订单核算</title>
		<meta name="keywords" content="订单核算">
		<meta name="description" content="订单核算">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/plugins/select2/select2.min.css" />
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">

	</head>

	<body class="gray-bg pd15">
		<div class="panel panel-default ibox float-e-margins border-bottom margin-bottom">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4 mgt2">查询条件</div>
					<div class="col-sm-8 text-right">
						<a class="collapse-link">
							<i class="fa fa-chevron-down"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body d-serach ibox-content">
				<form id="form">
					<div class="row form-group">
						<label class="col-sm control-label">供应商</label>
						<div class="col-sm-2">
							<select id="supplierSelect" class="js-example-basic-single form-control" ltype="select" ligeruiid="supplierSelect">
								<option value="">请选择</option>
								<option value="HN-GZJT-001">广州集团</option>
								<option value="HN-GZBJ-0011">广州宝玑集团</option>
								<option value="HB-BJZH-003">北京钟华集团</option>
								<option value="HB-BJZH-004">北京摇摇乐集团</option>
							</select>
						</div>
						<label class="col-sm control-label">订单编号</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="arrival_order_number" />
						</div>
						<label class="col-sm control-label">订单状态</label>
						<div class="col-sm-2">
							<select name="">
								<option value=" ">所有</option>
								<option value="待付款">待付款</option>
								<option value="已付款">已付款</option>
							</select>
						</div>
					</div>
					<div class="row ">
						<label class="col-sm control-label">核销状态</label>
						<div class="col-sm-2">
							<select name="">
								<option value=" ">所有</option>
								<option value="待核销">待核销</option>
								<option value="已核销">已核销</option>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel-body">
			<div class="row text-right">
				<button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;查询</button>
				<!--<button class="btn btn-info " type="button" onclick="add('添加','orderaccounting_list_edit.html')"><i class="fa fa-paste"></i>&nbsp;添加</button>
				-->
				<button class="btn btn-success " type="button"><i class="fa fa-download"></i>&nbsp;&nbsp;<span class="bold">导出</span></button>
			</div>
		</div>
		<div class="content-style0">
			<table id="exampleTableEvents"></table>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/content.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable-select2.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/js.js"></script>
		<script>
			$("#form").ligerForm({
				inputWidth: '',
				validate: true
			});
			var pageSize; //总页数
			var pageIndex; //当前第几页
			var table = $("#exampleTableEvents");
			$(function() {
				initTable();
				//选择供应商change事件
				$('#supplierSelect').select2().on('select2:select', function(event) {});
			})

			function initTable() {
				table.bootstrapTable({
					//url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/noteListDemo', //服务端需要返回rows与total字段
					//					pagination: true, //分页
					//					pageSize: 5, //每页多少条
					//method: 'post',
					//sidePagination: "server", //服务端处理分页
					columns: [{
						align: 'center',
						checkbox: true
					}, {
						title: '到货单号',
						field: 'arrival_order_number',
						formatter: function(value, row, index) {
							var a = '<a onclick="edit(\'详情\',\'../../template/warehouse_manage/receiptnotice_list_see.html\',' + row.id + ')">' + row.arrival_order_number + ' </a> ';
							return a;
						}
					}, {
						title: '供应商',
						field: 'supplier',
						formatter: function(value, row, index) {
							var a = '<a onclick="edit(\'详情\',\'../../template/supplier_manage/supplier_info_list_edit.html\',' + row.id + ')">' + row.supplier + ' </a> ';
							return a;
						}
					}, {
						title: '订单总额',
						field: 'totalCost'
					}, {
						title: '折扣',
						field: 'discount'
					}, {
						title: '结算渠道',
						field: 'billing_channel'
					}, {
						title: '结算货币',
						field: 'settlement_currency'
					}, {
						title: '货币汇率',
						field: 'currency_exchange_rate'
					}, {
						title: '已付金额',
						field: 'amount_paid'
					}, {
						title: '最后一次付款金额',
						field: 'last_payment_amount'
					}, {
						title: '未付金额',
						field: 'unpaid_amount'
					}, {
						title: '最后一次付款时间',
						field: 'last_payment_time'
					}, {
						title: '订单状态',
						field: 'state'
					}, {
						title: '核销状态',
						field: 'WriteoffStatus'
					}, {
						title: '核算人',
						field: 'originator'
					}, {
						title: '操作',
						width: '200',
						formatter: function(value, row, index) {
							var str = '';
							str += '<a class="btn btn-xs btn-success" onclick="edit(\'核销\',\'orderaccounting_list_edit.html\',' + row.id + ')">核销 </a> ';
							return str;
						}
					}],
					data: [{
						id: 1,
						arrival_order_number: 'J2018000408',
						supplier: 'Seewoo',
						totalCost: '1050', //订单总费用
						discount: '1', //折扣
						billing_channel: '汇款', //结算渠道
						settlement_currency: '美元', //结算货币
						currency_exchange_rate: 0.7, //货币汇率
						amount_paid: 500, //已付金额
						last_payment_amount: 100,
						unpaid_amount: 650, //未付金额
						last_payment_time: '2017-02-10',
						state: '待付款',
						WriteoffStatus: '待核销',
						originator: '季童薇'
					}, {
						id: 2,
						arrival_order_number: 'J20180003015',
						supplier: 'Seewoo',
						totalCost: '1050', //订单总费用
						discount: '1', //折扣
						billing_channel: '汇款', //结算渠道
						settlement_currency: '美元', //结算货币
						currency_exchange_rate: 0.7, //货币汇率
						amount_paid: 500, //已付金额
						last_payment_amount: 100,
						unpaid_amount: 650, //未付金额
						last_payment_time: '2017-02-10',
						state: '待付款',
						WriteoffStatus: '待核销',
						originator: '季童薇'
					}, {
						id: 3,
						arrival_order_number: 'J201800020101',
						supplier: 'Seewoo',
						totalCost: '1050', //订单总费用
						discount: '1', //折扣
						billing_channel: '汇款', //结算渠道
						settlement_currency: '美元', //结算货币
						currency_exchange_rate: 0.7, //货币汇率
						amount_paid: 500, //已付金额
						last_payment_amount: 500,
						unpaid_amount: 650, //未付金额
						last_payment_time: '2017-02-10',
						state: '待付款',
						WriteoffStatus: '待核销',
						originator: '季童薇'
					}],
					detailView: true,
					onExpandRow: function(index, row, $detail) {
						//付款审核界面红色框的按照入库管理单据界面显示【“+”显示具体单据和商品明细以及数量】
						//						if(){
						//							
						//						}
						var childTable = $detail.html('<table id="childTable' + index + '"></table>').find('table'); //创建子表
						$(childTable).bootstrapTable({
							columns: [{
								title: '订单编号',
								field: 'order_number',
								formatter: function(value, row, index) {
									var a = '<a onclick="edit(\'详情\',\'../../template/common/order_list_see.html\',' + row.id + ')">' + row.order_number + ' </a> ';
									return a;
								}
							}, {
								field: 'code',
								title: '商品/物料型号',
							}, {
								field: 'name',
								title: '商品/物料名称'
							}, {
								field: 'unit',
								title: '单位'
							}, {
								field: 'GP',
								title: 'GP考核'
							}, {
								field: 'image',
								title: '图片',
								formatter: function(value, row, index) {
									var str = '';
									str += '<a href="../../img/' + value + '.jpg" title="图片" data-gallery="" class="gallery-img"><img src="../../img/' + value + '.jpg"></a>';
									return str;
								}
							}, {
								field: 'size',
								title: '尺码'
							}, {
								field: 'color',
								title: '颜色'
							}, {
								field: 'AAmount',
								title: '数量'
							}, {
								field: 'remark',
								title: '备注'
							}],
							data: [{
								order_number: 'J2018A5001728',
								supplier: 'Seewoo',
								code: '160M60LYXCL',
								name: '表芯',
								unit: '件',
								GP: '考核',
								image: 'watch1',
								size: '通码',
								color: '通色',
								AAmount: 49,
								remark: ''
							}, {
								order_number: 'J2018A5001728',
								code: '002B38068M QQF-01',
								name: '表带',
								unit: '件',
								GP: '考核',
								image: 'watch1',
								size: '通码',
								color: '通色',
								AAmount: 46,
								remark: ''
							}]
						});
						mergeCell("#childTable" + index);
					},
					onDblClickRow: function(row, $element, field) { //row点击行的
						table.bootstrapTable('collapseAllRows');
						table.bootstrapTable('expandRow', (row.id - 1));
					},
					onClickRow: function(row, $element, field) { //row点击行的
						table.bootstrapTable('collapseRow', (row.id - 1));
					},
					//					queryParams: function(params) {
					//						var form = liger.get("form");
					//						var data = form.getData();
					//						var temp = {
					//							pageSize: params.limit, //页面大小
					//							pageIndex: (params.offset / params.limit) + 1, //页码
					//							sort: params.sort, //排序列名
					//							sortOrder: params.order //排位命令（desc，asc）
					//						};
					//						mergeObj(temp, data); //合并对象
					//						pageSize = temp.pageSize;
					//						pageIndex = temp.pageIndex;
					//						return temp;
					//					}
				});
			};

			function serach() {
				table.bootstrapTable('refresh');
			}

			function add(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['80%', '80%'],
					content: url
				});
			}

			function edit(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['80%', '80%'],
					content: url + '?id=' + id
				});
			}

			function del(id) {
				//询问框
				layer.confirm('是否需要删除？', {
					btn: ['确定', '取消'], //按钮
					shade: false //不显示遮罩
				}, function(index) {
					$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/dels',
						data: {
							id: id
						},
						success: function(res) {
							table.bootstrapTable('refresh');
							layer.close(index);
						}
					})
				}, function() {});
			}

			//子表格动态合并单元格
			function mergeCell(obj) {
				var data = $(obj).bootstrapTable('getData', true);
				//合并单元格
				mergeCells(data, "order_number", null, obj);
			}
		</script>

	</body>

</html>