<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>订单调价</title>
		<meta name="keywords" content="订单调价">
		<meta name="description" content="订单调价">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-editable/bootstrap-editable.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">
		<link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">

		<style type="text/css">
			.additional_charges .l-text {
				display: inline-block;
			}
		</style>
	</head>

	<body class="pd15">

		<form class="form-horizontal m-t" id="signupForm">
			<div class="form-group">
				<label class="col-sm-2 control-label">订单编号</label>
				<div class="col-sm-3">
					<a onclick="detail('详情','../../template/common/order_list_see.html','J2018A5001728')" style="line-height: 30px;">J2018A5001728</a>
				</div>
				<label class="col-sm-2 control-label">供应商</label>
				<div class="col-sm-3">
					<input name="supplier" class="ui-textbox disabled-text" type="text" ltype="text" value="Seewoo">
				</div>
			</div>
			<div class="disabled-input">
				<div class="form-group">
					<label class="col-sm-2 control-label">付款类型</label>
					<div class="col-sm-3">
						<select id="payment_type" class="js-example-basic-single form-control" ltype="select" ligeruiid="payment_type">
							<option value=" ">请选择</option>
							<option value="定金付款" selected="selected">定金付款</option>
							<option value="货款">货款</option>
							<option value="尾款">尾款</option>
						</select>
					</div>
					<label class="col-sm-2 control-label">定金</label>
					<div class="col-sm-3">
						<input name="deposit" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="1000">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">总金额</label>
					<div class="col-sm-3">
						<input name="total_amount" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="10000">
					</div>
					<label class="col-sm-2 control-label">已付金额</label>
					<div class="col-sm-3">
						<input name="amount_paid" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="7000">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">本次付款金额</label>
					<div class="col-sm-3">
						<input name="this_payment_amount" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="1000">
					</div>
					<label class="col-sm-2 control-label">未付金额</label>
					<div class="col-sm-3">
						<input name="unpaid_amount" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="2000">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">入库时间</label>
				<div class="col-sm-3">
					<input name="storage_time" id="storage_time" class="laydate-icon form-control layer-date" type="text" placeholder="入库日期" autocomplete="off" value="2018-02-05">
				</div>
				<label class="col-sm-2 control-label">结算账期</label>
				<div class="col-sm-3">
					<input name="settlement_period" id="settlement_period" class="laydate-icon form-control layer-date" type="text" placeholder="入库日期" autocomplete="off" value="2018-03-05">
				</div>
			</div>
			<div class="form-group additional_charges">
				<label class="col-sm-2 control-label">额外费用</label>
				<div class="col-sm-8">
					<div class="bootstrap-table">
						<div class="fixed-table-container">
							<div class="fixed-table-header">
								<table class="table table-hover">
									<tbody>
										<tr>
											<td class="text-right"><label class="lable-fl">人工费</label><input name="labor_costs" class="ui-textbox input-width-100" type="text" validate="{number:true}"></td>
											<td class="text-right"><label class="lable-fl">运输费</label><input name="shipping_fee" class="ui-textbox input-width-100" type="text" validate="{number:true}"></td>
											<td class="text-right"><label class="lable-fl">附加费</label><input name="additional_fee" class="ui-textbox input-width-100" type="text" validate="{number:true}"></td>
											<td class="text-right"><label class="lable-fl">其他费</label><input name="other_fee" class="ui-textbox input-width-100" type="text" validate="{number:true}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">收货清单</label>
				<div class="col-sm-8">
					<table id="ordersInfoTable"></table>
				</div>
			</div>
			<div class="form-group text-right hidden-panel">
				<div class="col-sm-8 col-sm-offset-2">
					<button class="btn btn-primary" type="submit" onclick="submitForm();">提交</button>
					<button class="btn btn-primary" type="submit" onclick="cancelLayer();">取消</button>
				</div>
			</div>
		</form>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/plugins/iCheck/icheck.min.js"></script>
		<script src="../../js/plugins/validate/jquery.validate.min.js"></script>
		<script src="../../js/plugins/validate/messages_zh.min.js"></script>
		<script src="../../js/plugins/validate/jquery.metadata.js"></script>
		<script src="../../js/plugins/layer/laydate/laydate.js"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script>
			var table = $("#ordersInfoTable");
			$(function() {
				var loadData = [{
					order_number: 'J2018A5001728',
					code: '160M60LYXCL',
					name: 'CASIO MTP-1329D-5A',
					supplier: '北京劳力士集团',
					unit: '件',
					gp: '考核',
					image: 'watch1',
					size: '通码',
					color: '通色',
					purchase_price: 8,
					purchase_quantity: 500,
					remark: ''
				}, {
					order_number: 'J2018A5011728',
					code: '002B38068M QQF-01',
					name: '表带',
					supplier: '广州环海报关服务有限公司',
					unit: '件',
					gp: '考核',
					image: 'watch1',
					size: '通码',
					color: '通色',
					purchase_price: 5,
					purchase_quantity: 400,
					remark: ''
				}, {
					order_number: 'J2018A5011728',
					code: '002B38068M QQF-01',
					name: '表带',
					supplier: '广州环海报关服务有限公司',
					unit: '件',
					gp: '考核',
					image: 'watch1',
					size: '通码',
					color: '通色',
					purchase_price: 6,
					purchase_quantity: 300,
					remark: ''
				}, {
					order_number: 'J2018A5001728',
					code: '160M60LYXCL',
					name: 'CASIO MTP-1339D-5A',
					supplier: '北京劳力士集团',
					unit: '件',
					gp: '考核',
					image: 'watch1',
					size: '通码',
					color: '通色',
					purchase_price: 9,
					purchase_quantity: 200,
					remark: ''
				}];

				new formValidate({
					formEle: '#signupForm'
				});

				laydate({
					elem: "#storage_time",
					format: "YYYY-MM-DD",
					min: laydate.now(),
					max: "2099-06-16",
					istime: true,
					istoday: false,
					choose: function(datas) {}
				});
				laydate({
					elem: "#settlement_period",
					format: "YYYY-MM-DD",
					min: laydate.now(),
					max: "2099-06-16",
					istime: true,
					istoday: false,
					choose: function(datas) {}
				});

				$(".i-checks").iCheck({
					checkboxClass: "icheckbox_square-green",
					radioClass: "iradio_square-green",
				});

				initTable();
				$(".btn-default").addClass("btn-outline");

				if($.getUrlParam('id')) {
					//setData();
					table.bootstrapTable('append', loadData);
					//合并单元格
					mergeCells(loadData, "order_number", null, "#ordersInfoTable");
					sum();
					$(".disabled-input .ui-textbox").attr("disabled", true).css("background-color", "#eee");
					$(".layer-date").attr("disabled", true).css("background-color", "#eee");
					$("#payment_type").prop("disabled", true); //设置下拉框不可用
				} else {

				}
				$("input[name=labor_costs]").blur(function() {
					average();
				});

				$("input[name=shipping_fee]").blur(function() {
					average();
				});

				$("input[name=additional_fee]").blur(function() {
					average();
				});

				$("input[name=other_fee]").blur(function() {
					average();
				});
			});

			function initTable() {
				table.bootstrapTable({
					search: true,
					showRefresh: true,
					showColumns: true,
					icons: {
						refresh: "glyphicon-repeat",
						columns: "glyphicon-list"
					},
					columns: [{
						field: "order_number",
						title: "订单编号"
					}, {
						field: "code",
						title: "商品代码/物料型号"
					}, {
						field: "name",
						title: "商品名称/物料名称"
					}, {
						field: "unit",
						title: "单位",
						visible: false
					}, {
						field: "size",
						title: "尺码",
						visible: false
					}, {
						field: "color",
						title: "颜色",
						visible: false
					}, {
						field: "image",
						title: "图片",
						visible: false,
						formatter: function(v) {
							return '<a href="../../img/' + v + '.jpg" title="图片" data-gallery="" class="gallery-img"><img src="../../img/' + v + '.jpg"></a>';
						}
					}, {
						title: '单价',
						field: 'purchase_price'
					}, {
						title: '采购数量',
						field: 'purchase_quantity',
						class: 'purchase_quantity'
					}, {
						title: '分摊前金额',
						field: 'apportioned_amount_before',
						class: 'amount',
						formatter: function(value, row, index) {
							if(row.purchase_price == undefined || row.purchase_quantity == undefined) {
								value = 0;
							} else {
								value = row.purchase_price * row.purchase_quantity;
							}
							return value;
						}
					}, {
						title: '分摊后金额',
						field: 'apportioned_amount_after',
						class: 'apportioned_amount_after',
						formatter: function(value, row, index) {
							if(value == undefined || row.apportioned_amount_before == undefined) {
								value = 0;
							} else {
								value = value + row.apportioned_amount_before;
							}
							return value;
						}
					}, {
						title: '备注',
						field: 'remark',
						formatter: function(value, row, index) {
							if(value == undefined) {
								value = "";
							} 
							return value;
						}
					}],
					onSearch: function() {
						mergeCell();
						sum();
					},
					onColumnSwitch: function(field, checked) {
						mergeCell();
						sum();
					},
					onLoadSuccess: function(data) {
						mergeCell();
						sum();
					}
				});
			}

			function mergeCell() {
				var data = table.bootstrapTable('getData', true);
				//合并单元格
				mergeCells(data, "order_number", null, "#receiptListTable");
			}
			//平摊额外费用
			function average() {
				var sum = 0;
				var apportioned_amount_after = 0;
				var apportioned_amount_after_total = 0;
				sum += +$("input[name=labor_costs").val();
				sum += +$("input[name=shipping_fee").val();
				sum += +$("input[name=additional_fee").val();
				sum += +$("input[name=other_fee").val();
				var rowIndex = table.find('tbody tr').length;
				var bisection = sum / (rowIndex - 1);

				//分摊后的金额
				$("#ordersInfoTable tbody tr").each(function(i, e) {
					apportioned_amount_after = parseFloat(bisection + parseFloat($(e).find("td[class='amount']").text()))
					$(e).find("td[class='apportioned_amount_after']").text(apportioned_amount_after.toFixed(2));
				});

				//合计分摊后的金额
				$("#ordersInfoTable td[class='apportioned_amount_after']").each(function() {
					apportioned_amount_after_total += +$(this).text();
				});

				$(".apportioned_amount_after_total").text(apportioned_amount_after_total.toFixed(2) + '元');
			}

			function sum() {
				var sumQuantity = 0;
				var sumAmount = 0;
				var sumAmountAfter = 0;
				//数量合计
				$("#ordersInfoTable td[class='purchase_quantity']").each(function() {
					sumQuantity += +$(this).text();
				});
				//分摊前金额合计
				$("#ordersInfoTable td[class='amount']").each(function() {
					sumAmount += +$(this).text();
				});
				//分摊后金额合计
				$("#ordersInfoTable td[class='apportioned_amount_after']").each(function() {
					sumAmountAfter += +$(this).text();
				});
				//先删除最后一行
				if($("#ordersInfoTable tr").hasClass('footer')) {
					$("#ordersInfoTable tr:last").remove();
				}
				var columns = $('table thead tr').find('th').size();
				var nextColumns = $('table thead tr').find('th.apportioned_amount_after').nextAll().size();
				var colspan = parseInt(columns - 3 - nextColumns);
				var tr = '<tr class="footer"><td class="text-right" colspan="' + colspan + '">合计</td><td>' + sumQuantity + '</td><td class="total_price">' + sumAmount + '元</td><td class="apportioned_amount_after_total" colspan="' + (nextColumns + 1) + '">' + sumAmountAfter + '元</td></tr>';
				$('#ordersInfoTable').append(tr);
			}

			function detail(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url + '?id=' + id
				});
			}

			function valid() {
				var form = liger.get("signupForm");
				alert(form.valid());
			}

			function getData() {
				var form = liger.get("signupForm");
				var data = form.getData();
				alert(JSON.stringify(data));
			}

			function setData() {
				$.ajax({
					url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/getUser',
					data: {
						id: $.getUrlParam('id')
					},
					success: function(res) {
						res = $.parseJSON(res);
						var form = new liger.get("signupForm");
						form.setData(res);
					}
				})
			}

			function submitForm() {

				var form = liger.get("signupForm");
				if(!form.valid()) {
					return;
				}
				var data = {};
				$("input,select,textarea").each(function() {
					var name = $(this).attr("name");
					if(name && name.indexOf('ligerui') == -1) {
						data[name] = this.value;
					}
				});
				data.id = $.getUrlParam('id');

				$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/setUser',
						data: data,
						success: function(res) {
							if(Number(res)) {
								parent.table.bootstrapTable('refresh');
								var index = parent.layer.getFrameIndex(window.name);
								parent.layer.close(index);
							}
						}
					})
					/*
					            parent.table.bootstrapTable('refresh');
					            var index = parent.layer.getFrameIndex(window.name);
					            parent.layer.close(index);*/
			}
		</script>
	</body>

</html>