<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>付款管理</title>
		<meta name="keywords" content="付款管理">
		<meta name="description" content="付款管理">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/plugins/select2/select2.min.css" />
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">
		<style type="text/css">
			tbody .reminder {
				background-color: red;
				color: #FFFFFF;
			}
			
			.btn-xs {
				margin-bottom: 3px;
			}
		</style>
	</head>

	<body class="gray-bg pd15">
		<div class="panel panel-default ibox float-e-margins border-bottom margin-bottom">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4 mgt2">查询条件</div>
					<div class="col-sm-8 text-right">
						<a class="collapse-link">
							<i class="fa fa-chevron-down"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body d-serach ibox-content">
				<form id="form">
					<div class="row form-group">
						<label class="col-sm control-label">供应商</label>
						<div class="col-sm-2">
							<select id="supplierSelect" class="js-example-basic-single form-control" ltype="select" ligeruiid="supplierSelect">
								<option value="">请选择</option>
								<option value="HN-GZJT-001">广州集团</option>
								<option value="HN-GZBJ-0011">广州宝玑集团</option>
								<option value="HB-BJZH-003">北京钟华集团</option>
								<option value="HB-BJZH-004">北京摇摇乐集团</option>
							</select>
						</div>
						<label class="col-sm control-label">订单编号</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="order_number" />
						</div>
						<label class="col-sm control-label">付款类型</label>
						<div class="col-sm-2">
							<select name="payment_type" id="paymentTypeSelect">
								<option value=" ">所有</option>
								<option value="定金付款">定金付款</option>
								<option value="货款">货款</option>
								<option value="尾款">尾款</option>
							</select>
						</div>
					</div>
					<div class="row">
						<label class="col-sm control-label">最迟付款时间</label>
						<div class="col-sm-2">
							<input name="pay_date_start" id="payDateStart" class="form-control layer-date date-width" placeholder="开始日期" autocomplete="off" value="">
							<input name="pay_date_end" id="payDateEnd" class="form-control layer-date date-width" placeholder="结束日期" autocomplete="off" value="">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel-body">
			<div class="row text-right">
				<button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;查询</button>
				<button class="btn btn-success " type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">代销账单导入</span></button>
				<button class="btn btn-success " type="button"><i class="fa fa-download"></i>&nbsp;&nbsp;<span class="bold">导出</span></button>
			</div>
		</div>
		<div class="content-style0">
			<table id="exampleTableEvents"></table>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/content.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable-select2.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/plugins/layer/laydate/laydate.js"></script>
		<script>
			$("#form").ligerForm({
				inputWidth: '',
				validate: true
			});

			$(function() {
				var payDateStart = {
					elem: "#payDateStart",
					format: "YYYY/MM/DD",
					min: '1900-01-01', //最小日期
					max: "2099-06-16",
					istime: true,
					istoday: false,
					choose: function(datas) {
						payDateEnd.min = datas;
					}
				};
				var payDateEnd = {
					elem: "#payDateEnd",
					format: "YYYY/MM/DD",
					min: '1900-01-01', //最小日期
					max: "2099-06-16 23:59 ",
					istime: true,
					istoday: false,
					choose: function(datas) {}
				};
				laydate(payDateStart);
				laydate(payDateEnd);

				initTable();
				//选择供应商change事件
				$('#supplierSelect').select2().on('select2:select', function(event) {});
			})
			var pageSize; //总页数
			var pageIndex; //当前第几页
			var table = $("#exampleTableEvents");

			function initTable() {
				table.bootstrapTable({
					//url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/noteListDemo', //服务端需要返回rows与total字段
					pagination: true, //分页
					pageSize: 5, //每页多少条
					//method: 'post',
					//sidePagination: "server", //服务端处理分页
					columns: [{
							align: 'center',
							checkbox: true
						}, {
							title: '编号',
							field: 'id',
							visible: false
						}, {
							title: '到货单号',
							field: 'arrival_order_number',
							formatter: function(value, row, index) {
								var a = '<a onclick="edit(\'详情\',\'../../template/warehouse_manage/receiptnotice_list_see.html\',' + row.id + ')">' + row.arrival_order_number + ' </a> ';
								return a;
							}
						}, {
							title: '送货单位',
							field: 'supplier',
							formatter: function(value, row, index) {
								var a = '<a onclick="edit(\'详情\',\'../../template/supplier_manage/supplier_info_list_edit.html\',' + row.id + ')">' + row.supplier + ' </a> ';
								return a;
							}
						}, {
							title: '付款类型',
							field: 'payment_type',
							formatter: function(value, row, index) {
								var returnType = '';
								switch(value) {
									case '定金付款':
										returnType = '定金付款';
										break;
									case '货款':
										returnType = '货款';
										break;
									default:
										returnType = '尾款';
										break;

								}
								return returnType;
							}
						}, {
							title: '定金',
							field: 'deposit'
						}, {
							title: '订单总额',
							field: 'total_amount'
						}, {
							title: '已付金额',
							field: 'amount_paid'
						}, {
							title: '本次付款金额',
							field: 'this_payment_amount'
						}, {
							title: '未付金额',
							field: 'unpaid_amount'
						}, {
							title: '最迟付款时间',
							field: 'this_payment_time'
						}, {
							title: '状态',
							field: 'state',
							"class": 'reminder'
						},

						{
							title: '操作',
							width: '200',
							formatter: function(value, row, index) {
								var str = '';
								str += '<a class="btn btn-xs btn-info" onclick="edit(\'编辑\',\'paymentreminder_list_edit.html\',\'' + row.order_number + '\')">编辑 </a> '
								str += '<a class="btn btn-xs btn-success" onclick="edit(\'确认付款\',\'paymentreminder_list_edit.html\',\'' + row.order_number + '\',\'PAY\')">确认付款 </a> ';
								return str;
							}
						}
					],
					data: [{
						id: 1,
						arrival_order_number: 'J2018000408',
						supplier: 'Seewoo',
						total_amount: '10000',
						payment_type: '定金付款',
						deposit: 1000,
						amount_paid: 7000,
						this_payment_amount: 1000,
						unpaid_amount: 2000,
						this_payment_time: '2018/1/8',
						state: '未付款/已超期'
					}, {
						id: 2,
						arrival_order_number: 'J2018000508',
						order_number: 'J2018A5001728',
						supplier: 'Seewoo',
						total_amount: 10000,
						payment_type: '尾款',
						deposit: 0,
						amount_paid: 5000,
						this_payment_amount: 2000,
						unpaid_amount: 3000,
						this_payment_time: '2018/1/8',
						state: '未付款/已超期'
					}, {
						id: 3,
						arrival_order_number: 'J2018000608',
						supplier: 'Seewoo',
						total_amount: 10000,
						payment_type: '货款',
						deposit: 0,
						amount_paid: 6000,
						this_payment_amount: 2000,
						unpaid_amount: 2000,
						this_payment_time: '2018/1/8',
						state: '未付款/已超期'
					}],
					detailView: true,
					onExpandRow: function(index, row, $detail) {
						//付款审核界面红色框的按照入库管理单据界面显示【“+”显示具体单据和商品明细以及数量】
						//						if(){
						//							
						//						}
						var childTable = $detail.html('<table id="childTable' + index + '"></table>').find('table'); //创建子表
						$(childTable).bootstrapTable({
							columns: [{
								title: '订单编号',
								field: 'order_number',
								formatter: function(value, row, index) {
									var a = '<a onclick="edit(\'详情\',\'../../template/common/order_list_see.html\',' + row.id + ')">' + row.order_number + ' </a> ';
									return a;
								}
							}, {
								field: 'code',
								title: '商品/物料型号',
							}, {
								field: 'name',
								title: '商品/物料名称'
							}, {
								field: 'unit',
								title: '单位'
							}, {
								field: 'GP',
								title: 'GP考核'
							}, {
								field: 'image',
								title: '图片',
								formatter: function(value, row, index) {
									var str = '';
									str += '<a href="../../img/' + value + '.jpg" title="图片" data-gallery="" class="gallery-img"><img src="../../img/' + value + '.jpg"></a>';
									return str;
								}
							}, {
								field: 'size',
								title: '尺码'
							}, {
								field: 'color',
								title: '颜色'
							}, {
								field: 'AAmount',
								title: '数量'
							}, {
								field: 'remark',
								title: '备注'
							}],
							data: [{
								order_number: 'J2018A5001728',
								supplier: 'Seewoo',
								code: '160M60LYXCL',
								name: '表芯',
								unit: '件',
								GP: '考核',
								image: 'watch1',
								size: '通码',
								color: '通色',
								AAmount: 49,
								remark: ''
							}, {
								order_number: 'J2018A5001728',
								code: '002B38068M QQF-01',
								name: '表带',
								unit: '件',
								GP: '考核',
								image: 'watch1',
								size: '通码',
								color: '通色',
								AAmount: 46,
								remark: ''
							}]
						});
						mergeCell("#childTable" + index);
					},
					onDblClickRow: function(row, $element, field) { //row点击行的
						table.bootstrapTable('collapseAllRows');
						table.bootstrapTable('expandRow', (row.id - 1));
					},
					onClickRow: function(row, $element, field) { //row点击行的
						table.bootstrapTable('collapseRow', (row.id - 1));
					},
					//					queryParams: function(params) {
					//						var form = liger.get("form");
					//						var data = form.getData();
					//						var temp = {
					//							pageSize: params.limit, //页面大小
					//							pageIndex: (params.offset / params.limit) + 1, //页码
					//							sort: params.sort, //排序列名
					//							sortOrder: params.order //排位命令（desc，asc）
					//						};
					//						mergeObj(temp, data); //合并对象
					//						pageSize = temp.pageSize;
					//						pageIndex = temp.pageIndex;
					//						return temp;
					//					}
				});
			}

			function serach() {
				table.bootstrapTable('refresh');
			}

			function add(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url
				});
			}

			function edit(title, url, id, action, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url + '?id=' + id + '&action=' + action
				});
			}

			function del(id) {
				//询问框
				layer.confirm('是否需要删除？', {
					btn: ['确定', '取消'], //按钮
					shade: false //不显示遮罩
				}, function(index) {
					$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/dels',
						data: {
							id: id
						},
						success: function(res) {
							table.bootstrapTable('refresh');
							layer.close(index);
						}
					})
				}, function() {});
			}

			//子表格动态合并单元格
			function mergeCell(obj) {
				var data = $(obj).bootstrapTable('getData', true);
				//合并单元格
				mergeCells(data, "order_number", null, obj);
			}
		</script>

	</body>

</html>