<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>库存管理</title>
		<meta name="keywords" content="库存管理">
		<meta name="description" content="库存管理">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/plugins/select2/select2.min.css" />
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">

	</head>

	<body class="pd15">

		<form class="form-horizontal m-t" id="signupForm">
			<div class="form-group">				
				<label class="col-sm-2 control-label">物料</label>
				<div class="col-sm-3">
					<select id="material_info_select" class="js-example-basic-single form-control" ltype="select" ligeruiid="product_name_select">
						<option value="">请选择</option>
						<option value="0 MTP1329D5A">表芯</option>
						<option value="1 MTP1329D5A">CASIO 表带</option>
						<option value="2 MTP1329D5A">CASIO 表针</option>
						<option value="3 MTP1329D5A">CASIO 表盘</option>
					</select>
				</div>
				<label class="col-sm-2 control-label">单位</label>
				<div class="col-sm-3">
					<input name="unit" class="ui-textbox disabled-text" type="text" ltype="text" value="只">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">尺码</label>
				<div class="col-sm-3">
					<input name="size" class="ui-textbox disabled-text" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="通码">
				</div>
				<label class="col-sm-2 control-label">颜色</label>
				<div class="col-sm-3">
					<input name="color" class="ui-textbox disabled-text" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="通色">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">仓库</label>
				<div class="col-sm-3">
					<select name="warehouse" id="warehouseSelect">
						<option value=" ">所有</option>
						<option value="配件耗材总仓">配件耗材总仓</option>
						<option value="保留仓">保留仓</option>
						<option value="保留仓(海外)">保留仓(海外)</option>
					</select>
				</div>
				<label class="col-sm-2 control-label">库位</label>
				<div class="col-sm-3">
					<select name="warehouse_location" id="warehouseLocationSelect">
						<option value=" ">所有</option>
						<option value="普通库位">普通库位</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">现有库存</label>
				<div class="col-sm-3">
					<input name="existingStocks" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="100">
				</div>
				<label class="col-sm-2 control-label">占用库存</label>
				<div class="col-sm-3">
					<input name="occupiedInventory" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="100">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">在途库存</label>
				<div class="col-sm-3">
					<input name="intransit_inventory" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:100}" value="50">
				</div>
				<label class="col-sm-2 control-label">剩余库存</label>
				<div class="col-sm-3">
					<input name="remaining_inventory" class="ui-textbox" type="text" ltype="text" validate="{required:true,minlength:1,maxlength:10}" value="150">
				</div>
			</div>
			<div class="form-group text-right">
				<div class="col-sm-8 col-sm-offset-2">
					<button class="btn btn-primary" type="submit" onclick="submitForm();">提交</button>
					<button class="btn btn-primary" type="submit" onclick="cancelLayer();">取消</button>
				</div>
			</div>
		</form>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable-select2.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/plugins/validate/jquery.validate.min.js"></script>
		<script src="../../js/plugins/validate/messages_zh.min.js"></script>
		<script src="../../js/plugins/validate/jquery.metadata.js"></script>
		<script>
			$(function() {
				if($.getUrlParam('id')) {
					setData();
				} else {

				}

				new formValidate({
					formEle: '#signupForm'
				});

			});

			function valid() {
				var form = liger.get("signupForm");
				alert(form.valid());
			}

			function getData() {
				var form = liger.get("signupForm");
				var data = form.getData();
				alert(JSON.stringify(data));
			}

			function setData() {
				$.ajax({
					url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/getUser',
					data: {
						id: $.getUrlParam('id')
					},
					success: function(res) {
						res = $.parseJSON(res);
						var form = new liger.get("signupForm");
						form.setData(res);
					}
				})
			}

			function submitForm() {
				var form = liger.get("signupForm");
				if(!form.valid()) {
					return;
				}
				var data = {};
				$("input,select,textarea").each(function() {
					var name = $(this).attr("name");
					if(name && name.indexOf('ligerui') == -1) {
						data[name] = this.value;
					}
				});
				data.id = $.getUrlParam('id');

				$.ajax({
					type: 'post',
					url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/setUser',
					data: data,
					success: function(res) {
						if(Number(res)) {
							parent.table.bootstrapTable('refresh');
							var index = parent.layer.getFrameIndex(window.name);
							parent.layer.close(index);
						}
					}
				})
				/*
				            parent.table.bootstrapTable('refresh');
				            var index = parent.layer.getFrameIndex(window.name);
				            parent.layer.close(index);*/
			}
		</script>
	</body>

</html>