<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>质检记录</title>
		<meta name="keywords" content="质检记录">
		<meta name="description" content="质检记录">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-editable/bootstrap-editable.css" rel="stylesheet">
		<link href="../../css/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">
		<link href="../../css/plugins/iCheck/custom.css" rel="stylesheet">
		<link href="../../css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

	</head>

	<body class="pd15">

		<form class="form-horizontal m-t" id="signupForm">
			<div class="form-group">
				<label class="col-sm-2 control-label">到货单号</label>
				<div class="col-sm-3">
					<input name="arrival_order_number" class="ui-textbox disabled-text" type="text" value="20170405">
				</div>
				<label class="col-sm-2 control-label">送货单位</label>
				<div class="col-sm-3">
					<select id="supplierSelect" class="js-example-basic-single form-control" ltype="select" ligeruiid="supplierSelect">
						<option value="">请选择</option>
						<option value="HN-GZJT-001">广州集团</option>
						<option value="HN-GZBJ-0011">广州宝玑集团</option>
						<option value="HB-BJZH-003">北京钟华集团</option>
						<option value="HB-BJZH-004">北京摇摇乐集团</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">批次</label>
				<div class="col-sm-3">
					<input name="batch" class="ui-textbox disabled-text" type="text" value="1">
				</div>
				<label class="col-sm-2 control-label">收货员</label>
				<div class="col-sm-3">
					<input name="originator" class="ui-textbox disabled-text" type="text" value="季童薇">
				</div>
			</div>
			<div class="form-group additional_charges">
				<label class="col-sm-2 control-label">额外费用</label>
				<div class="col-sm-8">
					<div class="bootstrap-table">
						<div class="fixed-table-container">
							<div class="fixed-table-header">
								<table class="table table-hover">
									<tbody>
										<tr>
											<td class="text-right"><label class="lable-fl">人工费</label><input name="labor_costs" class="ui-textbox input-width-100" type="text"></td>
											<td class="text-right"><label class="lable-fl">运输费</label><input name="shipping_fee" class="ui-textbox input-width-100" type="text"></td>
											<td class="text-right"><label class="lable-fl">附加费</label><input name="additional_fee" class="ui-textbox input-width-100" type="text"></td>
											<td class="text-right"><label class="lable-fl">其他费</label><input name="other_fee" class="ui-textbox input-width-100" type="text"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">收货清单</label>
				<div class="col-sm-8">
					<table id="receiptListTable"></table>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">质检员</label>
				<div class="col-sm-3">
					<input name="batch" class="ui-textbox disabled-text" type="text" ltype="text" value="季童薇">
				</div>
				<label class="col-sm-2 control-label">日期</label>
				<div class="col-sm-3">
					<input name="date" id="date" class="laydate-icon form-control layer-date" type="text" autocomplete="off" ltype="text" validate="{required:true}" value="2017-3-9 17:28">
				</div>
			</div>
			<div class="form-group text-right">
				<div class="col-sm-8 col-sm-offset-2">
					<button class="btn btn-primary" type="submit" onclick="submitForm();">保存</button>
					<button class="btn btn-primary" type="submit" onclick="cancelLayer();">取消</button>
				</div>
			</div>
		</form>
		
		<!--显示图片层-->
		<div id="blueimp-gallery" class="blueimp-gallery">
			<div class="slides"></div>
			<h3 class="title"></h3>
			<a class="close">×</a>
		</div>

		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-table-editable.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable-select2.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/plugins/iCheck/icheck.min.js"></script>
		<script src="../../js/plugins/layer/laydate/laydate.js"></script>
		<script src="../../js/plugins/validate/jquery.validate.min.js"></script>
		<script src="../../js/plugins/validate/messages_zh.min.js"></script>
		<script src="../../js/plugins/validate/jquery.metadata.js"></script>
		<script src="../../js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
		<script>
			var table = $("#receiptListTable");
			$(function() {
				var loadData = [{
					id: 1,
					order_number: 'J2018A5001728',
					code: '160M60LYXCL',
					name: 'CASIO MTP-1329D-5A',
					supplier: '北京劳力士集团',
					unit: '件',
					gp: '考核',
					image: 'watch1',
					size: '通码',
					color: '通色',
					purchase_price: 8,
					purchase_quantity: 500,
					weighted_average: 10,
					total_quality_inspection: 100,
					AAmount: 98,
					warehouse: '',
					CAmount: 2,
					remark: ''
				}, {
					id: 2,
					order_number: 'J2018A5011728',
					code: '002B38068M QQF-01',
					name: '表带',
					supplier: '广州环海报关服务有限公司',
					unit: '件',
					gp: '考核',
					image: 'watch1',
					size: '通码',
					color: '通色',
					purchase_price: 5,
					purchase_quantity: 400,
					weighted_average: 10,
					total_quality_inspection: 100,
					AAmount: 98,
					warehouse: '',
					CAmount: 2,
					remark: ''
				}, {
					id: 3,
					order_number: 'J2018A5011728',
					code: '002B38068M QQF-01',
					name: '表带',
					supplier: '广州环海报关服务有限公司',
					unit: '件',
					gp: '考核',
					image: 'watch1',
					size: '通码',
					color: '通色',
					purchase_price: 6,
					purchase_quantity: 300,
					weighted_average: 8,
					total_quality_inspection: 100,
					AAmount: 98,
					warehouse: '',
					CAmount: 2,
					remark: ''
				}, {
					id: 4,
					order_number: 'J2018A5001728',
					code: '160M60LYXCL',
					name: 'CASIO MTP-1339D-5A',
					supplier: '北京劳力士集团',
					unit: '件',
					gp: '考核',
					image: 'watch1',
					size: '通码',
					color: '通色',
					purchase_price: 9,
					purchase_quantity: 200,
					weighted_average: 12,
					total_quality_inspection: 100,
					AAmount: 98,
					warehouse: '',
					CAmount: 2,
					remark: ''
				}];


				laydate({
					elem: "#date",
					format: "YYYY/MM/DD hh:mm",
					min: laydate.now(),
					max: "2099-06-16 23:59",
					istime: true,
					istoday: false,
					choose: function(datas) {
						end.min = datas;
						end.start = datas
					}
				});
				$('#supplierSelect').select2({}).on('select2:select', function(event) {});

				$(".i-checks").iCheck({
					checkboxClass: "icheckbox_square-green",
					radioClass: "iradio_square-green",
				})
				
				initReceiptListTable();
				$(".btn-default").addClass("btn-outline");

				new formValidate({
					formEle: '#signupForm'
				});
				
				if($.getUrlParam('id')) {
					//setData();
					table.bootstrapTable('append', loadData);
					//合并单元格
					mergeCells(loadData, "order_number", null, "#receiptListTable");
					sum();

					var supplier_trigger = $("#supplierSelect").select2().val("HN-GZJT-001").trigger("change"); //获取selectid
					supplier_trigger.change();

					//设置下拉框、额外费用不可用
					$("#supplierSelect").prop("disabled", true);
					$(".additional_charges input").prop("disabled", true).css("background-color", "#eee");
				} else {

				}

			});

			function initReceiptListTable() {
				table.bootstrapTable({
					search: true,
					showRefresh: true,
					showColumns: true,
					icons: {
						refresh: "glyphicon-repeat",
						columns: "glyphicon-list"
					},
					columns: [{
						field: "order_number",
						title: "订单编号"
					}, {
						field: "code",
						title: "商品代码/物料型号"
					}, {
						field: "name",
						title: "商品名称/物料名称"
					}, {
						field: "unit",
						title: "单位",
						visible: false
					}, {
						field: "size",
						title: "尺码",
						visible: false
					}, {
						field: "color",
						title: "颜色",
						visible: false
					}, {
						field: "image",
						title: "图片",
						visible: false,
						formatter: function(v) {
							return '<a href="../../img/' + v + '.jpg" title="图片" data-gallery="" class="gallery-img"><img src="../../img/' + v + '.jpg"></a>';
						}
					}, {
						title: '单价',
						field: 'purchase_price'
					}, {
						title: '采购数量',
						field: 'purchase_quantity',
						class: 'purchase_quantity'
					}, {
						title: '分摊前金额',
						field: 'apportioned_amount_before',
						class: 'amount',
						formatter: function(value, row, index) {
							if(row.purchase_price == undefined || row.purchase_quantity == undefined) {
								value = 0;
							} else {
								value = row.purchase_price * row.purchase_quantity;
							}
							return value;
						}
					}, {
						title: '分摊后金额',
						field: 'apportioned_amount_after',
						class: 'apportioned_amount_after',
						formatter: function(value, row, index) {
							if(value == undefined || row.apportioned_amount_before == undefined) {
								value = 0;
							} else {
								value = value + row.apportioned_amount_before;
							}
							return value;
						}
					}, {
						title: '加权平均',
						field: 'weighted_average'
					}, {
						title: '质检总数量',
						field: 'total_quality_inspection'
					}, {
						title: '良品数量',
						field: 'AAmount',
						formatter: function(value, row, index) {
							return '<input name="AAmount" class="ui-textbox input-width" type="text" ltype="text" validate="{required:true,digits:true}" value="' + value + '">';
						}
					}, {
						title: '仓库',
						field: 'good_warehouse',
						formatter: function(value, row, index) {
							var result = '<select name="good_warehouse" class="form-control" ltype="select" style="width:115px">';
							result += '<option value="世港总仓">世港总仓</option>';
							result += '<option value="唯品会JIT">唯品会JIT</option>';
							result += '<option value="官燕栈香港">官燕栈香港</option>';
							result += '<option value="HELVETIC">HELVETIC</option>';
							result += '<option value="时间廊广东">时间廊广东</option>';
							return result;
						}
					}, {
						title: '不良品数量',
						field: 'CAmount',
						formatter: function(value, row, index) {
							return '<input name="CAmount" class="ui-textbox input-width" type="text" ltype="text" validate="{required:true,digits:true}" value="' + value + '">';
						}
					}, {
						title: '仓库',
						field: 'bad_warehouse',
						formatter: function(value, row, index) {
							var result = '<select name="badw_arehouse" class="form-control" ltype="select" style="width:115px">';
							result += '<option value="Q610">收货QC不良品中转仓</option>';
							result += '<option value="001">良品仓</option>';
							return result;
						}
					}, {
						title: '备注',
						field: 'remark',
						formatter: function(value, row, index) {
							return '<textarea name="remark" placeholder="请输入内容" class="layui-textarea remark">' + value + '</textarea>';
						}
					}],
					onSearch: function() {
						mergeCell();
						sum();
					},
					onColumnSwitch: function(field, checked) {
						mergeCell();
						sum();
					},
					onLoadSuccess: function(data) {
						mergeCell();
						sum();
					}
				});
			}

			function mergeCell() {
				var data = table.bootstrapTable('getData', true);
				//合并单元格
				mergeCells(data, "order_number", null, "#receiptListTable");
			}

			function sum() {
				var sumQuantity = 0;
				var sumAmount = 0;
				var sumAmountAfter = 0;
				//数量合计
				$("#receiptListTable td[class='purchase_quantity']").each(function() {
					sumQuantity += +$(this).text();
				});
				//分摊前金额合计
				$("#receiptListTable td[class='amount']").each(function() {
					sumAmount += +$(this).text();
				});
				//分摊后金额合计
				$("#receiptListTable td[class='apportioned_amount_after']").each(function() {
					sumAmountAfter += +$(this).text();
				});
				//先删除最后一行
				if($("#receiptListTable tr").hasClass('footer')) {
					$("#receiptListTable tr:last").remove();
				}
				var columns = $('table thead tr').find('th').size();
				var nextColumns = $('table thead tr').find('th.apportioned_amount_after').nextAll().size();
				var colspan = parseInt(columns - 3 - nextColumns);
				var tr = '<tr class="footer"><td class="text-right" colspan="' + colspan + '">合计</td><td>' + sumQuantity + '</td><td class="total_price">' + sumAmount + '元</td><td class="apportioned_amount_after_total" colspan="' + (nextColumns + 1) + '">' + sumAmountAfter + '元</td></tr>';
				$('#receiptListTable').append(tr);
			}

			function valid() {
				var form = liger.get("signupForm");
				alert(form.valid());
			}

			function getData() {
				var form = liger.get("signupForm");
				var data = form.getData();
				alert(JSON.stringify(data));
			}

			function setData() {
				$.ajax({
					url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/getUser',
					data: {
						id: $.getUrlParam('id')
					},
					success: function(res) {
						res = $.parseJSON(res);
						var form = new liger.get("signupForm");
						form.setData(res);
					}
				})
			}

			function submitForm() {

				var form = liger.get("signupForm");
				if(!form.valid()) {
					return;
				}
				var data = {};
				$("input,select,textarea").each(function() {
					var name = $(this).attr("name");
					if(name && name.indexOf('ligerui') == -1) {
						data[name] = this.value;
					}
				});
				data.id = $.getUrlParam('id');

				$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/setUser',
						data: data,
						success: function(res) {
							if(Number(res)) {
								parent.table.bootstrapTable('refresh');
								var index = parent.layer.getFrameIndex(window.name);
								parent.layer.close(index);
							}
						}
					})
					/*
					            parent.table.bootstrapTable('refresh');
					            var index = parent.layer.getFrameIndex(window.name);
					            parent.layer.close(index);*/
			}
		</script>
	</body>

</html>