<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>质检记录</title>
		<meta name="keywords" content="质检记录">
		<meta name="description" content="质检记录">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/plugins/select2/select2.min.css" />
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">

		<style type="text/css">
			.btn-xs {
				margin-bottom: 3px;
			}
		</style>

	</head>

	<body class="gray-bg pd15">
		<div class="panel panel-default ibox float-e-margins border-bottom margin-bottom">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4 mgt2">查询条件</div>
					<div class="col-sm-8 text-right">
						<a class="collapse-link">
							<i class="fa fa-chevron-down"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="panel-body d-serach ibox-content">
				<form method="get" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm control-label">到货单号</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="arrival_order_number" />
						</div>
						<label class="col-sm control-label">送货单位</label>
						<div class="col-sm-2">
							<select id="supplierSelect" class="js-example-basic-single form-control" ltype="select" ligeruiid="supplierSelect">
								<option value=" ">所有</option>
								<option value="HN-GZJT-001">广州集团</option>
								<option value="HN-GZBJ-0011">广州宝玑集团</option>
								<option value="HB-BJZH-003">北京钟华集团</option>
								<option value="HB-BJZH-004">北京摇摇乐集团</option>
							</select>
						</div>
						<label class="col-sm control-label">商品代码/商品名称</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="product" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm control-label">状态</label>
						<div class="col-sm-2">
							<select id="stateSelect" class="form-control" ltype="select" ligeruiid="stateSelect">
								<option value=" ">所有</option>
								<option value="待质检">待质检</option>
								<option value="待入库">待入库</option>
							</select>
						</div>
						<label class="col-sm control-label">收货员</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="receiver" />
						</div>
						<label class="col-sm control-label">质检员</label>
						<div class="col-sm-2">
							<input type="text" class="ui-textbox" name="inspector" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm control-label">收货日期</label>
						<div class="col-sm-2">
							<input name="deliveryDateStart" id="deliveryDateStart" class="form-control layer-date date-width" placeholder="开始日期" autocomplete="off" value="">
							<input name="deliveryDateEnd" id="deliveryDateEnd" class="form-control layer-date date-width" placeholder="结束日期" autocomplete="off" value="">
						</div>
						<label class="col-sm control-label">质检日期</label>
						<div class="col-sm-2">
							<input name="qcDateStart" id="qcDateStart" class="form-control layer-date date-width" placeholder="开始日期" autocomplete="off" value="">
							<input name="qcDateEnd" id="qcDateEnd" class="form-control layer-date date-width" placeholder="结束日期" autocomplete="off" value="">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel-body">
			<div class="row text-right">
				<button class="btn btn-primary " type="button"><i class="fa fa-check"></i>&nbsp;查询</button>
				<button class="btn btn-success " type="button"><i class="fa fa-download"></i>&nbsp;&nbsp;<span class="bold">导出</span></button>
			</div>
		</div>
		<div class="content-style0">
			<table id="exampleTableEvents"></table>
		</div>
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/plugins/bootstrap-editable/bootstrap-editable-select2.full.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/content.min.js"></script>
		<script src="../../js/plugins/layer/layer.min.js"></script>
		<script src="../../js/ligerui.all.js"></script>
		<script src="../../js/js.js"></script>
		<script src="../../js/plugins/layer/laydate/laydate.js "></script>
		<script>
			var pageSize; //总页数
			var pageIndex; //当前第几页
			var table = $("#exampleTableEvents");
			$(function() {
				$("#form").ligerForm({
					inputWidth: '',
					validate: true
				});

				var deliveryDateStart = {
					elem: "#deliveryDateStart",
					format: "YYYY/MM/DD ",
					min: '1900-01-01', //最小日期
					max: "2099-06-16 ",
					istime: true,
					istoday: false,
					choose: function(datas) {
						deliveryDateEnd.min = datas;
					}
				};
				var deliveryDateEnd = {
					elem: "#deliveryDateEnd",
					format: "YYYY/MM/DD",
					min: $("#deliveryDateStart").val(), //最小日期
					max: "2099-06-16",
					istime: true,
					istoday: false,
					choose: function(datas) {}
				};

				var qcDateStart = {
					elem: "#qcDateStart",
					format: "YYYY/MM/DD",
					min: '1900-01-01', //最小日期
					max: "2099-06-16",
					istime: true,
					istoday: false,
					choose: function(datas) {
						qcDateEnd.min = datas;
					}
				};
				var qcDateEnd = {
					elem: "#qcDateEnd",
					format: "YYYY/MM/DD",
					min: '1900-01-01', //最小日期
					max: "2099-06-16",
					istime: true,
					istoday: false,
					choose: function(datas) {}
				};
				laydate(deliveryDateStart);
				laydate(deliveryDateEnd);
				laydate(qcDateStart);
				laydate(qcDateEnd);
				initTable();
				//选择供应商change事件
				$('#supplierSelect').select2().on('select2:select', function(event) {});
			});

			function initTable() {
				table.bootstrapTable({
					//url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/noteListDemo', //服务端需要返回rows与total字段
					pagination: true, //分页
					pageSize: 5, //每页多少条
					//method: 'post',
					//sidePagination: "server", //服务端处理分页
					columns: [{
						align: 'center',
						checkbox: true
					}, {
						field: 'id',
						title: '编号',
						visible: false
					}, {
						title: '到货单号',
						field: 'arrival_order_number',
						formatter: function(value, row, index) {
							var a = '<a onclick="edit(\'详情\',\'../../template/warehouse_manage/receiptnotice_list_see.html\',' + row.id + ')">' + row.arrival_order_number + ' </a> ';
							return a;
						}
					}, {
						title: '送货单位',
						field: 'supplier',
						formatter: function(value, row, index) {
							var a = '<a onclick="edit(\'详情\',\'../../template/supplier_manage/supplier_info_list_edit.html\',' + row.id + ')">' + row.supplier + ' </a> ';
							return a;
						}
					}, {
						title: '收货数量',
						field: 'receipt_quantity'
					}, {
						title: '抽检数量',
						field: 'quality_num'
					}, {
						title: '良品数量',
						field: 'AAmount'
					}, {
						title: '不良品数量',
						field: 'CAmount'
					}, {
						title: '良品率',
						field: 'yield_rate'
					}, {
						title: '批次',
						field: 'batch'
					}, {
						title: '收货员',
						field: 'take_delivery_by'
					}, {
						title: '收货日期',
						field: 'take_delivery_date'
					}, {
						title: '质检员',
						field: 'inspector',
						formatter: function(value, row, index) {
							if(row.state == '待质检') {
								return '————';
							} else {
								return value;
							}
						}
					}, {
						title: '日期',
						field: 'date',
						formatter: function(value, row, index) {
							if(row.state == '待质检') {
								return '————';
							} else {
								return value;
							}
						}
					}, {
						title: '状态',
						field: 'state',
						formatter: function(value, row, index) {
							var state = '';
							switch(value) {
								case '待质检':
									var state = '待质检';
									break;
								case '待入库':
									var state = '待入库';
									break;
								default:
									var state = '已完成';
									break;
							}
							return state;
						}
					}, {
						title: '操作',
						width: '200',
						formatter: function(value, row, index) {
							var str = '';
							if(row.state == '待质检') {
								str += '<a class="btn btn-xs btn-success" onclick="edit(\'录入质检信息\',\'qualityinspection_list_edit.html\',\'' + row.arrival_order_number + '\')">录入质检信息 </a>  ';
							}
							if(row.state == '待入库') {
								str += '<a class="btn btn-xs btn-info" onclick="edit(\'验收入库\',\'storage.html\',\'' + row.arrival_order_number + '\')">验收入库 </a>  ';
							}
							//入库之后定金申请付款								
							if(row.storage_status == '已入库') {
								str += '<a class="btn btn-xs btn-success" onclick="edit(\'付款申请\',\'crossorder_payment_application.html\',\'' + row.arrival_order_number + '\')">付款申请 </a> ';
							}
							if(row.state != '已完成') {
								str += '<a class="btn btn-xs btn-warning" onclick="edit(\'退货\',\'../../template/purchase_manage/retreat_manage_list_edit.html\',\'' + row.arrival_order_number + '\')">退货 </a> ';
							}
							str += '<a class="btn btn-xs btn-primary" onclick="edit(\'打印条码\',\'print_code.html\',\'' + row.arrival_order_number + '\')">打印条码 </a>  ';
							str += '<a class="btn btn-xs btn-primary" onclick="printOrder(\'商品质检单\',\'print_order.html\',\'' + row.arrival_order_number + '\')">打印单据</a>  ';
							return str;
						}
					}],
					data: [{
						id: 1,
						arrival_order_number: 'J2018000408',
						supplier: '广州集团',
						receipt_quantity: 100,
						quality_num: '0',
						AAmount: 0,
						CAmount: 0,
						yield_rate: '',
						batch: '1',
						take_delivery_by: '李大钊',
						take_delivery_date: '2017-3-9 17:28',
						inspector: '德邦澍',
						date: '2017-4-20',
						state: '待质检',
					}, {
						id: 2,
						arrival_order_number: 'J2018000508',
						supplier: '北京钟华集团',
						receipt_quantity: 100,
						quality_num: '',
						AAmount: 0,
						CAmount: 0,
						yield_rate: '',
						batch: '1',
						take_delivery_by: '李大钊',
						take_delivery_date: '2017-3-9 17:28',
						inspector: '德邦澍',
						date: '2017-4-20',
						state: '待质检',
					}, {
						id: 3,
						arrival_order_number: 'J2018000608',
						supplier: '广州几何集团',
						receipt_quantity: 100,
						quality_num: '100',
						AAmount: 95,
						CAmount: 1,
						yield_rate: '95.6%',
						batch: '1',
						take_delivery_by: '李大钊',
						take_delivery_date: '2017-3-9 17:28',
						inspector: '德邦澍',
						date: '2017-3-9 17:28',
						state: '待入库'
					}],
					detailView: true,
					onExpandRow: function(index, row, $detail) {
						if(row.state == '待质检') {
							$detail.html('<div class="alert alert-info">该订单未质检，未找到匹配的信息。</div>').find('table');
						} else {
							var childTable = $detail.html('<table id="childTable' + index + '"></table>').find('table'); //创建子表
							$(childTable).bootstrapTable({
								columns: [{
									field: 'order_number',
									title: '订单编号',
									formatter: function(value, row, index) {
										var a = '<a onclick="edit(\'详情\',\'../../template/common/order_list_see.html\',' + row.id + ')">' + row.order_number + ' </a> ';
										return a;
									}
								}, {
									field: 'code',
									title: '商品/物料型号',
								}, {
									field: 'name',
									title: '商品/物料名称'
								}, {
									field: 'unit',
									title: '单位'
								}, {
									field: 'GP',
									title: 'GP考核'
								}, {
									field: 'image',
									title: '图片',
									formatter: function(value, row, index) {
										var str = '';
										str += '<a href="../../img/' + value + '.jpg" title="图片" data-gallery="" class="gallery-img"><img src="../../img/' + value + '.jpg"></a>';
										return str;
									}
								}, {
									field: 'size',
									title: '尺码'
								}, {
									field: 'color',
									title: '颜色'
								}, {
									field: 'AAmount',
									title: '数量'
								}, {
									field: 'remark',
									title: '备注'
								}],
								data: [{
									order_number: 'J2018A5001728',
									supplier: 'Seewoo',
									code: '160M60LYXCL',
									name: '表芯',
									unit: '件',
									GP: '考核',
									image: 'watch1',
									size: '通码',
									color: '通色',
									AAmount: 49,
									remark: ''
								}, {
									order_number: 'J2018A5001728',
									code: '002B38068M QQF-01',
									name: '表带',
									unit: '件',
									GP: '考核',
									image: 'watch1',
									size: '通码',
									color: '通色',
									AAmount: 46,
									remark: ''
								}]
							});
						}
						mergeCell("#childTable" + index);
					},
					onDblClickRow: function(row, $element, field) { //row点击行的
						table.bootstrapTable('collapseAllRows');
						table.bootstrapTable('expandRow', (row.id - 1));
					},
					onClickRow: function(row, $element, field) { //row点击行的
						table.bootstrapTable('collapseRow', (row.id - 1));
					},
					//				queryParams: function(params) {
					//					var form = liger.get("form");
					//					var data = form.getData();
					//					var temp = {
					//						pageSize: params.limit, //页面大小
					//						pageIndex: (params.offset / params.limit) + 1, //页码
					//						sort: params.sort, //排序列名
					//						sortOrder: params.order //排位命令（desc，asc）
					//					};
					//					mergeObj(temp, data); //合并对象
					//					pageSize = temp.pageSize;
					//					pageIndex = temp.pageIndex;
					//					return temp;
					//				}
				});
			}

			function serach() {
				table.bootstrapTable('refresh');
			}

			function add(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url
				});
			}

			function edit(title, url, id, w, h) {
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url + '?id=' + id
				});
			}

			function del(id) {
				//询问框
				layer.confirm('是否需要删除？', {
					btn: ['确定', '取消'], //按钮
					shade: false //不显示遮罩
				}, function(index) {
					$.ajax({
						type: 'post',
						url: USER_INFO.SITE_URL + '/tp5/public/index.php/Admin/Admin/dels',
						data: {
							id: id
						},
						success: function(res) {
							table.bootstrapTable('refresh');
							layer.close(index);
						}
					})
				}, function() {});
			}

			//子表格动态合并单元格
			function mergeCell(obj) {
				var data = $(obj).bootstrapTable('getData', true);
				//合并单元格
				mergeCells(data, "order_number", null, obj);
			}

			function printOrder(title, url, id, w, h) {
				//receipts打印收货单  qualityInspection打印质检单 receipt打印入库单
				var index = layer.open({
					type: 2,
					close: true,
					maxmin: true,
					title: title,
					area: ['90%', '90%'],
					content: url + '?id=' + id + '&title=' + title + '&print=qualityInspection'
				});
			}
		</script>

	</body>

</html>