<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>用户信息</title>
		<meta name="keywords" content="用户信息">
		<meta name="description" content="用户信息">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/font-awesome.min.css" rel="stylesheet">
		<link href="../../css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<link href="../../css/animate.min.css" rel="stylesheet">
		<link href="../../css/style.min.css" rel="stylesheet">

	</head>

	<body class="pd15">
		<div class="row">
			<div class="col-sm-12 form-group">
				<table id="usersList" style="border-left: 1px solid #e7eaec;"></table>
			</div>
			<div class="col-sm-12 text-right">
				<button class="btn btn-primary" type="button" onclick="add();">添加人员</button>
				<button class="btn btn-primary" type="button" onclick="cancelLayer();">取消</button>
			</div>
		</div>

		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/content.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="../../js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<script src="../../js/js.js"></script>

		<script>
			var table = $("#usersList");
			$(document).ready(function() {
				var pageSize; //总页数
				var pageIndex; //当前第几页
				table.bootstrapTable({
					// url: USER_INFO.SITE_URL+'/tp5/public/index.php/Admin/Admin/noteListDemo', //服务端需要返回rows与total字段
					// pagination: true,
					// pageSize: 5, //每页多少条
					// method:'post',
					// sidePagination: "server", //服务端处理分页
					search: true,
					showRefresh: true,
					showColumns: true,
					icons: {
						refresh: "glyphicon-repeat",
						columns: "glyphicon-list"
					},
					columns: [{
							align: 'center',
							checkbox: true
						},
						{
							title: '用户名称',
							field: 'user'
						},
						{
							title: '手机号码',
							field: 'telephone'
						},
						{
							title: '联系电话',
							field: 'contact_number'
						},
						{
							title: '电子邮箱',
							field: 'email'
						},
						{
							title: '地址',
							field: 'address'
						},
						{
							title: '部门',
							field: 'department'
						},
						{
							title: '描述',
							field: 'description'
						}
					],
					data: [{
						user: '王柳',
						telephone: 13510126545,
						contact_number: '',
						email: '564023391@qq.com',
						address: '',
						department: '国品采购部',
						description: ''
					}, {
						user: '赵六',
						telephone: 13232316545,
						contact_number: '',
						email: '9266482391@qq.com',
						address: '',
						department: '财务部',
						description: ''
					}, {
						user: '王八',
						telephone: 13510121235,
						contact_number: '',
						email: '564654391@qq.com',
						address: '',
						department: '仓储部',
						description: ''
					}, {
						user: '久久',
						telephone: 13123316545,
						contact_number: '',
						email: '9266012391@qq.com',
						address: '',
						department: '开发组',
						description: ''
					}]
					/*,
					            queryParams: function(params) {
					                var form = liger.get("form");
					                var data = form.getData();
					                var temp = {
					                    pageSize: params.limit,                         //页面大小
					                    pageIndex: (params.offset / params.limit) + 1,   //页码
					                    sort: params.sort,      //排序列名
					                    sortOrder: params.order //排位命令（desc，asc）
					                };
					                mergeObj(temp,data); //合并对象
					                pageSize = temp.pageSize;
					                pageIndex = temp.pageIndex;
					                return temp;
					            }*/
				});
				$(".btn-default").addClass("btn-outline");
			})

			function add() {
				var getSelectRows = table.bootstrapTable('getSelections');
				if(getSelectRows.length >= 1) {
					parent.$("#usersTable").bootstrapTable('append', getSelectRows);

					var index = parent.layer.getFrameIndex(window.name);
					parent.layer.close(index); //再执行关闭   
				} else {
					parent.layer.alert('请选择物料信息！');
				}
			}
		</script>

	</body>

</html>